<div>
    <div class="order-container">
        <!-- FIRST CARD -->
        <div class="dashboard-card orders-table">

            <div class="rounded h-100 order-card">
                <div class="row g-0" style="width: 100%;">
                    <div class="col-lg-10">
                        <h4 class="mb-4">My Orders</h4>
                    </div>
                </div>

                <div class="col">
                    <ul class="navs navs-tabs">
                        <li class="navs-item" *ngFor="let tab of tabsArray; let sr = index" (click)="setTab(sr)" [ngClass]="activatedTabIndex == sr ? 'active' : '' " >
                            <a class="navs-link" [ngClass]="activatedTabIndex == sr ? 'active' : '' ">{{tab}}</a>
                        </li>
                    </ul>                    
                </div>

                <div *ngIf="activatedTabIndex == 0">
                    <div class="cartcontents-mobile">
                        <div class="image">
                            <img src="../../../../assets/img/packaging/coffee-bag-02.png" alt="Product Image">
                        </div>
                
                        <div class="product-content">
                            <div class="product-info">
                                <div class="product-name">
                                    <p>Product Name: <span>Chim</span></p>
                                </div>

                                <div class="order-details">
                                    <button type="button" (click)="showorderdetailsDialog()">VIEW ORDER DETAILS</button>
                                </div>
                            </div>
                
                            <div class="product-data">
                                <div class="order-placed">
                                    <p>Order placed: <span>25-12-2023</span></p>
                                </div>
                                <div class="product-price">
                                    <p>Total: <span>$200</span></p>
                                </div>
                                <div class="product-number">
                                    <p>Order: <span>ABC12345</span></p>
                                </div>
                                <div class="delivery-status">
                                    <p class="delivered">DELIVERED</p>
                                    <p>on 28-12-2023</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>

                <div *ngIf="activatedTabIndex == 1">
                    <div class="cartcontents-mobile">
                        <div class="image">
                            <img src="../../../../assets/img/packaging/coffee-bag-01.png" alt="Product Image">
                        </div>
                
                        <div class="product-content">
                            <div class="product-info">
                                <div class="product-name">
                                    <p>Product Name: <span>Mettle</span></p>
                                </div>

                                <div class="order-details">
                                    <button type="button" (click)="showorderdetailsDialog()">VIEW ORDER DETAILS</button>
                                </div>
                            </div>
                
                            <div class="product-data">
                                <div class="order-placed">
                                    <p>Order placed: <span>25-12-2023</span></p>
                                </div>
                                <div class="product-price">
                                    <p>Total: <span>$200</span></p>
                                </div>
                                <div class="product-number">
                                    <p>Order: <span>ABC12345</span></p>
                                </div>
                                <div class="delivery-status">
                                    <p class="notdelivered">FAILED DELIVERY</p>
                                    <p>on 28-12-2023</p>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>