<!-- Table Start -->
<div>
    <div class="message-container">

        <!-- FIRST CARD -->
        <div class="dashboard-card search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search messages" id="search" name="search">
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </div>

        <!-- 2ND CARD -->
        <div class="messages-nav dashboard-card">
            <ul>
                <li class="link-card">
                    Unread
                    <span>(2)</span>
                </li>
            </ul>

            <ul>
                <li class="link-card">
                    <i class="fa-solid fa-trash-can"></i>
                </li>

                <li class="link-card delete">
                    Delete All
                </li>
            </ul>
        </div>

        <!-- 3rd card -->
        <div class="main-messages dashboard-card">
            <div class="notification-container">
                <div class="check-all">
                    <div class="checkbox">
                        <input type="checkbox" id="select-all" name="select-all" title="read"
                         [checked]="masterSelected" (change)="checkUncheckAll($event)"
                        >
                        <label for="select-all">Select All</label>
                    </div>
                </div>
            
            
                <div class="notification-card" *ngFor="let item of checklist">
                    <div class="checkbox">
                        <input
                          type="checkbox"
                          id="read"
                          name="read"
                          title="read"
                          [checked]="item.isSelected"
                          value="{{item.id}}"
                          (change)="isAllSelected($event, index)"
                        >
                    </div>
                
                    <div class="notification" (click)="showNotification()">
                        <div class="notification-header">
                            <h2>Coffee Received</h2>
            
                            <div class="date">
                                <p>3:30pm, 15 Nov 2023</p>
                            </div>
                        </div>
            
                        <div class="notification-content">
                            <p>{{item.notification}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
<!-- Table End -->