<!-- Table Start -->
<div>
    <div class="message-container">

        <!-- FIRST CARD -->
        <div class="dashboard-card search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search messages" id="search" name="search">
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </div>

        <!-- 2ND CARD -->
        <div class="messages-nav dashboard-card">
            <ul>
                <li class="link-card">
                    Unread
                    <span>(2)</span>
                </li>
            </ul>

            <ul>
                <li class="link-card">
                    <i class="fa-solid fa-trash-can"></i>
                </li>

                <li class="link-card delete">
                    Delete All
                </li>
            </ul>
        </div>

        <!-- 3rd card -->
        <div class="main-messages dashboard-card">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<!-- Table End -->