<div class="inbox-container">
    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis a consectetur reprehenderit officiis,
                voluptatibus dolorem ratione facere itaque optio veniam, non eaque laboriosam soluta nisi cupiditate numquam
                possimus, voluptas animi?</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>
</div>
