.bold {
    font-weight: bold;
}

.inbox-container .check-all {
    padding-block: 1rem;
}

.inbox-container .check-all .checkbox {
    display: flex;
    gap: 1rem;
}

.inbox-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-block: 1rem;
    border-bottom: 2px solid #00000012;
}

.inbox-card .notification {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    cursor: pointer;
}

.inbox-card .notification .notification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inbox-card .notification .notification-header h2 {
    font-size: 1.4rem;
}

.inbox-card .notification .notification-content p {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    /* border: 1px solid #ddd; */
    margin: 0;
}