<div class="inbox-container">
    <div class="check-all">
        <div class="checkbox">
            <input type="checkbox" id="select-all" name="select-all" title="read"
             [checked]="masterSelected" (change)="checkUncheckAll($event)"
            >
            <label for="select-all">Select All</label>
        </div>
    </div>


    <div class="inbox-card" *ngFor="let item of checklist">
        <div class="checkbox">
            <input
              type="checkbox"
              id="read"
              name="read"
              title="read"
              [checked]="item.isSelected"
              value="{{item.id}}"
              (change)="isAllSelected($event, index)"
            >
        </div>
    
        <div class="notification" (click)="showNotification()">
            <div class="notification-header">
                <h2>Coffee Received</h2>

                <div class="date">
                    <p>3:30pm, 15 Nov 2023</p>
                </div>
            </div>

            <div class="notification-content">
                <p>{{item.notification}}</p>
            </div>
        </div>
    </div>
</div>
