.bold {
    font-weight: bold;
}

.fa-star {
    color: orange;
}

.inbox-card {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.sender {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.sender span {
    padding: .5rem;
    background-color: #000000;
    color: #fff;
}