<div class="inbox-container">
    <div *ngFor="let notification of user.notifications" class="inbox-card">
        <div class="checkbox">
            <input type="checkbox" id="read" name="read" value="checked" title="read">
        </div>
    
        <div class="star">
            <i class="fa-solid fa-star"></i>
        </div>
    
        <div class="sender">
            <span>M</span>
            <p class="bold">Moses Ngondi</p>
        </div>
    
        <div class="message">
            <p>{{notification.message}}</p>
        </div>
    
        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>
</div>
