<div class="footer-container">
    <div class="ft-top">
        <div class="ft-contact">
            <div>
                <h2 class="bold">Nicedirect&#174;</h2>
            </div>
    
            <div>
                <p>Great coffee starts with great farmers</p>
                <p>Achiever's place <br>King'ong'o, Nyeri, Kenya.</p>
            </div>
    
            <div>
                <p><span class="bold">Phone:</span> +254 724553437</p>
                <p><span class="bold">Email:</span> nicecoffee@gmail.com</p>
            </div>
        </div>
    

        <div class="legalinfo-container">
            <div class="ft-legal">
                <div>
                    <h2>Legal:</h2>
                </div>
        
                <div class="legal-links">
                    <ul>
                        <li><a routerLink="">Data Protection</a></li>
                        <li><a routerLink="">Privacy Policy.</a></li>
                        <li><a routerLink="">Cancellation Policy.</a></li>
                        <li><a routerLink="">Shipping</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="ft-information">
                <div>
                    <h2>Useful Links:</h2>
                </div>
        
                <div class="info-links">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="">Origin Trip</a></li>
                        <li><a routerLink="">Partners</a></li>
                        <li><a routerLink="">About Us</a></li>
                        <li><a routerLink="">Coffee Events</a></li>
                        <li><a routerLink="/Coffee">Buy Coffee</a></li>
                        <li><a routerLink="/Sell">Sell Coffee</a></li>
                        <li><a routerLink="">Attributions</a></li>
                    </ul>        
                </div>
            </div>
        </div>
        
    </div>

    <div class="ft-bottom">
        <p>2023 | © Copyright NICE | All Rights Reserved</p>
    </div>
    
</div>