.bold {
    font-weight: bold;
}
.footer-container {
    background-color: #000000;
    color: #f1ece9;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ft-top {
    display: flex;
    padding: .5rem;
    gap: 1rem;
    flex-direction: column;
    /* border: 2px solid blue; */
}
/* .ft-top > * {
    border: 2px solid red;
} */
.ft-contact {
    /* border-color: white; */
    padding: 1rem;
    background-color: #f1ece9;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    box-shadow: 5px 5px #707070;
}
.ft-contact h2 {
    font-family: 'Playfair Display', serif;
}
.legalinfo-container {
    margin-block: 3rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
}
.ft-legal,
.ft-information {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.legal-links ul,
.info-links ul {
    list-style-type: none;
    padding-left: .5rem;
}
.legal-links a,
.info-links a {
    text-decoration: none;
    color: #ffb575;
    transition: all 300ms ease-in;
}
.legal-links a:hover,
.info-links a:hover {
    color: #f1ece9;
}

.ft-bottom {
    /* border-top: 2px solid #f1ece9; */
    padding-block: 2rem;
    text-align: center;
}


/* media queries */
@media (min-width: 768px) {
    .ft-top {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }
    .legal-links ul,
    .info-links ul {
        list-style-type: none;
        padding-left: 0rem;
    }
    .legalinfo-container {
        /* border: 2px solid red; */
        gap: 3rem;
        padding-inline: 1rem;
        justify-content: space-between;
    }
    /* .ft-information h2 */
}

@media (min-width: 1024px) {
    .ft-top {
        /* flex-direction: row; */
        /* justify-content: space-evenly; */
        padding-inline: 4rem;
    }
}