<div class="settings-container">
    <!-- PHONE EDIT -->
    <div class="phone-number settings-card">
        <div class="phone-header">
            <h2>Edit phone number</h2>
        </div>
    
        <div class="phone-edit">
            <p>This is the phone number associated with your account:<br> <span>+254 734567891</span></p>

            <form ngNativeValidate>
                <div class="label-float">
                    <input id="phone" name="phone" class="form-control"
                        type="tel" placeholder=" " required>
                    <label for="phone">Change Phone Number</label>
                </div>

                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
    
    <!-- EMAIL EDIT -->
    <div class="email settings-card">
        <div class="email-header">
            <h2>Edit Email address</h2>
        </div>
    
        <div class="email-edit">
            <p>This is the email address associated with your account:<br> <span>mkulima&#64;gmail.com</span></p>

            <form ngNativeValidate>
                <div class="label-float">
                    <input id="email" name="email" [(ngModel)]="newEmail" class="form-control"
                        type="email" placeholder=" " required>
                    <label for="email">Change Email Address</label>
                </div>

                <button (click)="showConfirmPasswordDialog()" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>

    <!-- PASSWORD EDIT -->
    <div class="password settings-card">
        <div class="password-header">
            <h2>Edit Password</h2>
        </div>

        <div class="oldpassword-edit">
            <form (ngSubmit)="changePassword()">
                <div class="label-float">
                    <input id="oldpassword" name="oldpassword" [(ngModel)]="password" class="form-control"
                    type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
                    <label for="oldpassword">Old Password</label>
                </div>

                <div class="label-float">
                    <input id="newpassword" name="newpassword" [(ngModel)]="newPassword" class="form-control"
                    type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
                    <label for="newpassword">New Password</label>
                </div>

                <div class="label-float">
                    <input id="confirmpassword" name="confirmpassword" [(ngModel)]="confirmNewPassword" class="form-control"
                    type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
                    <label for="confirmpassword">Confirm New Password</label>
                </div>

                <div class="signup-visibility">
                    <div>
                        <input type="checkbox" (click)="togglePasswordVisibility()" id="myInput" title="visibility">
                    </div>
                    <div>
                        <label for="myInput">&nbsp;Show Password</label>
                    </div>
                </div>

                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>

    <!-- USERNAME EDIT -->
    <div class="name settings-card">
        <div class="name-header">
            <h2>Edit Name</h2>
        </div>
    
        <div class="name-edit">
            <p>This is the name associated with your account:<br> <span>Mkulima</span></p>

            <form ngNativeValidate>
                <div class="label-float">
                    <input id="name" name="name" class="form-control"
                        type="text" placeholder=" " required>
                    <label for="name">Change Name</label>
                </div>

                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>