.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 95%;
    margin-inline: auto;
}

.settings-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0 0 5px #ccc;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings-card span {
    color: blue;
}

.email-edit,
.phone-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-edit .email-input form,
.phone-edit .phone-input form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}