<div class="settings-container">
    <!-- PHONE EDIT -->
    <div class="phone-number settings-card">
        <div class="phone-header">
            <h2>Edit phone number</h2>
        </div>
    
        <div class="phone-edit">
            <p>This is the phone number associated with your account: <span>+254 734567891</span></p>
            <p>Change the phone number below</p>
            <div class="phone-input">
                <form action="">
                    <label for="phone">Change Phone Number:</label>
                    <input type="tel" name="phone" id="phone" title="phone" required>
    
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- EMAIL EDIT -->
    <div class="email settings-card">
        <div class="email-header">
            <h2>Edit Email address</h2>
        </div>
    
        <div class="email-edit">
            <p>This is the email address associated with your account: <span>mkulima@gmail.com</span></p>
            <p>Change the email address below</p>
            <div class="email-input">
                <form action="">
                    <label for="email">Change Email Address:</label>
                    <input type="email" name="email" id="email" title="email" required>
    
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>