.settings-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 95%;
    margin-inline: auto;
}

.settings-container h2 {
    font-size: 23.1px;
    font-weight: 500;
    text-transform: uppercase;
}

.settings-card {
    background-color: #eeeeee;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-card.password {
    height: auto;
}

.settings-card span {
    color: blue;
}

.email-edit,
.phone-edit,
.password-edit,
.oldpassword-edit,
.name-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-edit form,
.phone-edit form,
.password-edit form,
.oldpassword-edit form,
.name-edit form  {
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.oldpassword-edit form  {
    padding-top: 13px;
}

.settings-container form input {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #8080807a;
    border-radius: 4px;
    height: 35px;
    padding-inline: .5rem;
}

/* input animations */
.label-float{
    position: relative;
    padding-block: 13px;
  }

  .oldpassword-edit .label-float {
    padding: 0 0 13px 0;
  }

  .label-float input{
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    appearance:none;
    transition: all .1s linear;
  }

  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 13px);
    left: .26rem;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 2px 5px;
    box-sizing: border-box;
    transition: all .1s linear;
    font-size: 14.5px;
  }

  .oldpassword-edit .label-float label {
    top: calc(50% - 18px);
  }
  
  .label-float input:required:invalid + label {
    color: #000000a8;
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 3px;
    color: #000000a8;
  }

  .oldpassword-edit  .label-float input:focus + label,
  .oldpassword-edit  .label-float input:not(:placeholder-shown) + label{
    top: -10px;
  }
/* end of input animations */

.phone-edit button,
.email-edit button,
.password-edit button,
.oldpassword-edit button,
.name-edit button  {
    padding: .5rem;
    border: none;
    background-color: #000000;
    color: #fff;
    transition: all 350ms ease-in-out;
    border: 2px solid black;
}

.phone-edit button:hover,
.email-edit button:hover,
.password-edit button:hover,
.oldpassword-edit button:hover,
.name-edit button:hover  {
    letter-spacing: 3px;
    background-color: #fff;
    color: #000000;
}

.settings-container form input:focus {
    border: 1px solid #0000ff59;
    box-shadow: none;
}

.settings-container form .signup-visibility {
    margin-bottom: 10px;
    display: flex;
}

.settings-container form .signup-visibility > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-container #myInput {
    width: 15px;
    height: 15px;
}

/* media queries */
@media (max-width: 900px) {
    .settings-container {
        grid-template-columns: 1fr;
    }

    .settings-card {
        height: auto;
    }
}

@media (max-width: 375px) {
    .email-edit form,
    .phone-edit form,
    .password-edit form,
    .oldpassword-edit form,
    .name-edit form {
        width: 100%;
    }

    .settings-card {
        padding: .5rem;
    }
}