h4,h5,p,li {
    font-weight: bold;
}

span {
    font-weight: 300;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 95%;
    /* border: 2px solid red; */
    padding-block: 3rem;
    height: max-content;
    gap: 30px;
    margin-inline: auto;
}

/* .card-container > * {
    border: 2px solid blue;
} */

.card-container .dashboard-card {
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 15px;
    height: 100%;
    /* margin-block: 1.5rem; */
}

.card-container .info {
    grid-area: 1 / 1 / 2 / 13 ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-container .user-info {
    grid-area: 2 / 1 / auto / 13 ;
}

.farmer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
}

.farmer-info li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.dashboard-card .location {
    grid-area: 10 / 1 / 11 / 3;
}

.farmer-info > * {
    border: 2px solid #0000000d;
    padding: 1rem;
    position: relative;
    max-width: 100%;
    min-width: 100%;
}

.fa-pencil {
    font-size: 1rem;
    position: absolute;
    top: 11px;
    left: 93%;
    color: #f68b1e;
    cursor: pointer;
}

  .dashboard-card .card-header,
  .dashboard-card .details {
    display: flex;
  }

  .dashboard-card .card-header {
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-card .details {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .dashboard-card .user-addinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
  }

  .dashboard-card iframe {
    border: none;
    height: 400px;
    width: 100%;
  }

  /* media queries */
@media (max-width: 768px) {
    .card-container {
        gap: 30px 10px;
    }
        
    .farmer-info {
        grid-template-columns: 1fr;
    }

    .dashboard-card .location {
        grid-area: auto;
    }

    .dashboard-card .details {
        flex-direction: column;
    }

    .dashboard-card .user-addinfo {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
