ng-template {
    background-color: white;
}

mat-form-field {
    width: 100%;
}

form {
    padding: 10px;
}

form .form-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

form button {
    background-color: #838283;
    width: 100px;
}

form .flex-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: red !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: red;
}

@media (max-width: 600px) {
    form .form-content {
        grid-template-columns: 1fr;
    }
}