<div class="container">
    <h2 class="clo-lg-5 text-center py-1">New Product</h2>
    <h4 class="clo-lg-5 text-center">Add to your Inventory.</h4>
    <form>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-5">
                <label for="name">Name</label>
                <input id="name" name="name" placeholder="name" class="form-control form-control" type="text" required>
            </div>
            <div class="col-lg-5">
                <label for="quantity">Quantity</label>
                <input input id="quantity" name="quantity" placeholder="quantity" class="form-control" type="text" required>
            </div>
        </div>
        
        <br>
        
        <br>
        <button mat-raised-button type="submit">Add Product</button>
    </form>
</div>
