<div class="timeline-container">
    <div class="create-timeline timeline-card">
        <div class="create-header">
            <h2>Create Post</h2>
        </div>

        <form enctype="multipart/form-data"  class="create-content">
            <div class="media">
                <div class="media-content">
                    <div class="video">
                        <label for="file"><i class="fa-solid fa-video"></i>&nbsp;&nbsp;Add video</label>
                        <input type="file" id="file" name="file">
                    </div>

                    <div class="image">
                        <label for="file"><i class="fa-solid fa-image"></i>&nbsp;&nbsp;Add image</label>
                        <input type="file" enctype="multipart/form-data" (change)="onFileSelected($event)" [(ngModel)]="media" id="file" name="file">
                    </div>    
                </div>  
            </div>

            <div class="text">
                <div class="text-content">
                    <div class="form-controls message">
                        <textarea placeholder="Write your Post Here" [(ngModel)]="caption" id="comment" name="comment" required></textarea>
                    </div>   
                </div>  
            </div>

            <div class="form-controls form-btn form-submit">
                <button (click)="PostStories()" type="submit">Create Post</button>
            </div>
        </form>
    </div>

    <div class="timeline timeline-card">
        <div class="timeline-header">
            <h2>My Timeline</h2>
        </div>

        <div class="timeline-box">
            <div *ngFor="let post of posts" class="timeline-info">
                <div class="timeline-content">
                    <div class="timeline-media">
                        <img src="{{cloudinaryUrl}}{{post.media}}" alt="coffee plant">
                    </div>
        
                    <div class="timeline-profile">
                        <div class="profile-pic">
                            <img src="../../../assets/img/coffee_logo2.png" alt="user profile pic">
                        </div>
        
                        <div class="profile-time">
                            <p>2 days ago</p>
                        </div>
                    </div>
        
                    <div class="timeline-text">
                        <p>{{post.caption}}
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="timeline-data">
                <div class="views">
                    <p>
                        <i class="fa-solid fa-eye"></i>
                        &nbsp;&nbsp;200 views
                    </p>
                </div>

                <div class="photos">
                    <p>Photos posted:</p>

                    <div class="photos-collage">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                        <img src="../../../assets/img/Trip/ragis2.jpg" alt="coffee plant">
                    </div>
                </div>

                <div class="recent">
                    <p>recent activity</p>
                </div>
            </div>
        </div>
    </div>
</div>
