.logo {
  height: 100%;
}

.logo img {
  height: 70px;
  position: absolute;
  top: 0;
}

.sell {
  cursor: pointer;
}

.register-expo,
.register-trip {
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo img {
    height: 60px;
    top: 2px;
  }
}

@media (max-width: 600px) {
  .logo img {
    height: 50px;
    top: 10px;
  }
}