<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand justify-content-center" href="#"><img src="../../assets/images/d90a1c41c1294e9ebd3e6cba576ae35f.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Expo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Origin Trip</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Patners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Patners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
            </ul>
            <ul *ngIf="!user" class="navbar-nav navbar-right">
              <li class="nav-item">
                <button mat-raised-button (click)="showLoginDialog()" type="button" class="btn btn-dark">Log In</button>
              </li>
              <li class="nav-item">
                <button mat-raised-button type="button" class="btn btn-outline-dark">Sign Up</button>
              </li>
            </ul>
            <ul *ngIf="user" class="navbar-nav navbar-right">
              <li class="nav-item">
                <a style="color: white;border-radius: 20px;font-size: 20px;" class="nav-link active btn btn-dark" href="#">{{user['username']}}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </body>
