.logo {
  height: 100%;
}

.logo img {
  height: 70px;
  position: relative;
  top: -15px;
}

.sell {
  cursor: pointer;
}

.register-expo,
.register-trip {
  cursor: pointer;
}

.navbar-mobile li span {
  font-size: 15px;
}

@media (max-width: 991px) {
  .logo img {
    height: 60px;
    top: -13px;
  }
}

@media (max-width: 600px) {
  .logo img {
    height: 50px;
    top: -5px;
  }
}