<app-navbar></app-navbar>

<section class="farm-component">
    <div class="farm-list">
        <a class="places-card geralds-place"  routerLink="/farm/1">
            <div class="places-header">
                <h2>GERALD'S ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>

        <a class="places-card ragis-place" routerLink="/farm/1">
            <div class="places-header">
                <h2>RAGIS'S ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farm/1">
            <div class="places-header">
                <h2>NDAROINI ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>
    </div>
</section>