:host ::ng-deep #header {
  background-color: #f6f6f6;
}

:host ::ng-deep #header .navbar .active {
  background-color: transparent;
  color: #000000;
}


form {
  display: flex;
  flex-direction: column;
}



  /* INDIVIDUAL PRODUCT STYLING */
  .product-container {
    padding: 1rem;
    /* border: 2px solid red; */
    margin-bottom: 150px;
    position: relative;
    top: 75px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-details {
    /* border: 2px solid blue; */
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* align-items: center; */
    /* justify-content: center; */
  }

  /* .product-details > * {
    border: 2px solid black;
  } */
  
  .product-alldetails {
    width: 70%;
  }

  .product-image {
    height: 500px;
    width: 30%;
    background-color: #f7f8fa;
    box-shadow: 0 0 2px 1px #e6e6e6;
    border-radius: .5rem;
  }

  .product-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
  }

  .product-image img:hover {
    transform: scale(1.2);
  }

  .product-container .product-detail > * {
    margin-bottom: .2rem;
  }

  .product-alldetails {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
  }

  /* .product-alldetails > * {
    border: 2px solid blue;
  } */

  .product-alldetails .product-info {
    height: 40%;
  }
  
  .product-alldetails .product-form {
    height: auto;
  }

  .product-alldetails .product-form .col {
    margin-bottom: .5rem;
  }

  .product-component .product-form .roasted {
    padding-block: 2rem;
    border: 2px solid #00000017;
  }

  .product-alldetails p {
    margin-bottom: 0;
  }

  .product-detail i {
    color: rgb(209, 209, 53);
  }



  /* TABBED INFO SECTION */
  .farmdetails {
    /* border: 2px solid red; */
    padding: .5rem;

    display: flex;
    gap: .3rem;
  }

  .farmdetails > * {
    /* border: 2px solid blue; */
    padding: .2rem;
    flex-basis: 100%;
  }

  .farm-images .image-one {
    height: 250px;
    width: 250px;
  }

  .farm-images .image-one img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }

  .farmadddetails {
    /* border: 2px solid red; */
    padding: .5rem;

    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
  }

  /* .tab1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .packaging,
  .price-lb {
    display: flex;
    gap: 1rem;
  } */

  .farmadddetails > * {
    /* border: 2px solid black; */
    flex-basis: 100%;
  }

  .farmadddetails .map {
    height: 400px;
  }

  .map iframe {
    height: 100%;
    width: 100%;
  }

  .farmadddetails .history {
    padding: .5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .farmadddetails .history table tbody tr {
    border: 1px solid black;
    /* padding: .3rem; */
  }

  .history-info,
  .cycle-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .rating-card {
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.349);
  }

  .rating-card .user-icon {
    width: 200px;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .rating-card .user-icon .icon {
    /* border: 2px solid black; */
    padding: .5rem;
    background-color: #000000;
    color: #fff;
  }

  .rating-card .user-rating {
    display: flex;
    gap: .5rem;
  }

  .owners {
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    gap: 1rem;
    padding: .5rem;
  }

  .owners > * {
    /* border: 2px solid black; */
    flex-basis: 100%;
    padding: .5rem;
  }