<div class="tripregister-container">
    <form ngNativeValidate>
        <div class="label-float">
            <input id="name" name="name" [(ngModel)]="name" class="form-control"
                type="text" placeholder=" " required>
            <label for="name">Name</label>
        </div>

        <div class="label-float">
            <input id="companyname" name="companyname" [(ngModel)]="companyName" class="form-control"
                type="text" placeholder=" " required>
            <label for="companyname">Company Name</label>
        </div>

        <div class="businesstype-input">
            <select title="business-type" id="business-type" class="selection" name="Business-Type" required>
                <option value="" disabled selected>Choose Business Type...</option>
                <option value="Importer">Importer</option>
                <option value="Roaster">Roaster</option>
                <option value="Cafe">Cafe</option>
                <option value="Importer/Roaster">Importer/Roaster</option>
                <option value="Roaster/Cafe">Roaster/Cafe</option>
                <option value="Importer/Roaster/Cafe">Importer/Roaster/Cafe</option>
            </select>
        </div>

        <div class="label-float">
            <input id="designation" name="designation" [(ngModel)]="designation" class="form-control"
                type="text" placeholder=" " required>
            <label for="designation">Your Designation</label>
        </div>

        <div class="label-float">
            <input id="email" name="email" [(ngModel)]="email" class="form-control"
                type="email" placeholder=" " required>
            <label for="email">Email</label>
        </div>

        <div class="label-float">
            <input id="phone" name="phone" [(ngModel)]="phone" class="form-control"
                type="tel" placeholder=" " required>
            <label for="phone">Phone Number</label>
        </div>

        <div class="label-float">
            <input id="address" name="address" [(ngModel)]="address" class="form-control"
                type="text" placeholder=" " required>
            <label for="address">Full Address</label>
        </div>

        <div class="label-float">
            <input id="website" name="website" [(ngModel)]="website" class="form-control"
                type="url" placeholder=" " required>
            <label for="website">Website</label>
        </div>

        <div class="label-float">
            <input id="purchase" name="purchase" [(ngModel)]="purchase" class="form-control"
                type="number" placeholder=" " required>
            <label for="purchase">Projected annual purchase of Kenyan coffee (Kgs)</label>
        </div>

        <div class="relationship-input">
            <p>Do you have direct relationships with farmers?</p>

            <div class="relationship-content">
                <div class="relationship-radio yes">
                    <input type="radio" id="relationship-yes" name="relationship" value="Yes">
                    <label for="relationship-yes">&nbsp;Yes</label>
                </div>
    
                <div class="relationship-radio no">
                    <input type="radio" id="relationship-no" name="relationship" value="No">
                    <label for="relationship-no">&nbsp;No</label>
                </div>
            </div>
        </div>

        <div class="bought-input">
            <p>Have you bought Kenyan coffee in the past two years?</p>

            <div class="bought-content">
                <div class="bought-radio yes">
                    <input type="radio" id="bought-yes" name="bought" value="Yes">
                    <label for="bought-yes">&nbsp;Yes</label>
                </div>
    
                <div class="bought-radio no">
                    <input type="radio" id="bought-no" name="bought" value="Yes">
                    <label for="bought-no">&nbsp;No</label>
                </div>
            </div>
        </div>

        <button mat-raised-button type="submit">SUBMIT</button>

        <div class="form-extras">
            <p  class="terms-text">By continuing, you acknowledge you've read our <a mat-dialog-close routerLink="/terms and conditions">Privacy Policy</a> and agree to <a routerLink="/terms and conditions" mat-dialog-close>Our Terms of Service</a></p>
        </div>        
    </form>
</div>
