<!-- Table Start -->
<div>
    <div class="payments-container">
        <!-- FIRST CARD -->
        <div class="dashboard-card user-stats">
            <div class="sales stats-card">
                <div>
                    <span>0</span>
                    <p>Sales</p>
                </div>
            </div>

            <div class="transactions stats-card">
                <div>
                    <span>0</span>
                    <p>Transactions</p>
                </div>
            </div>

            <div class="received stats-card">
                <div>
                    <span>0</span>
                    <p>Received</p>
                </div>
            </div>

            <!-- <div class="refunds stats-card">
                <div>
                    <span>0</span>
                    <p>Refunds</p>
                </div>
            </div> -->
        </div>


        <!-- 2ND CARD -->
        <div class="dashboard-card payments-table">
            <div>
                <div>
                    <h4 class="mb-4">Payments</h4>
                </div>

                <div class="table-container">
                    <table mat-table [dataSource]="Orders" class="demo-table table-light">
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> 11/17/2024 </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef> Product</th>
                            <td mat-cell *matCellDef="let element"> Mettle </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="orderno">
                            <th mat-header-cell *matHeaderCellDef> Order No. </th>
                            <td mat-cell *matCellDef="let element"> AMN1230N </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="delivery">
                            <th mat-header-cell *matHeaderCellDef> Delivery Status </th>
                            <td mat-cell *matCellDef="let element"> Delivered </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                            <td mat-cell *matCellDef="let element"> $200 </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="payment">
                            <th mat-header-cell *matHeaderCellDef> Payment Method </th>
                            <td mat-cell *matCellDef="let element">Bank Account</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                            <td mat-cell *matCellDef="let element">Received</td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>

            </div>
        </div>

        <!-- 3RD CARD -->
        <div class="dashboard-card congrats">
            <div class="congrats-image">
                <img src="../../../../assets/img/payment.jpg" alt="">
            </div>

            <h2>Congratulations {{user.username}}</h2>
            <p>You have made <span>$100</span> in sales</p>
        </div>

        <!-- 4TH CARD -->
        <div class="dashboard-card history">
            <div class="history-header mb-4">
                <p>Transaction history</p>
            </div>

            <div class="transaction-info">
                <div class="transaction-card mb-4">
                    <div class="transaction-details">
                        <p>Paypal</p>
                        <p>11/17/2023</p>
                        <p class="green">Received</p>
                    </div>
    
                    <div class="transaction-amount">
                        <p>+ $400</p>
                    </div>
                </div>

                <div class="transaction-card">
                    <div class="transaction-details">
                        <p>Paypal</p>
                        <p>11/17/2023</p>
                        <p class="red">Refund</p>
                    </div>
    
                    <div class="transaction-amount">
                        <p>- $400</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Table End -->