<main>
    <section class="hero-container">

        <div class="hero-imgtxt">
    
            <!-- Hero text -->
            <div class="hero-text">
                <h1 class="hero-header fw-bold">Buy coffee direct from the farmer. <span class="header-family">No middlemen. No resellers.</span></h1>
                <p class="hero-par"><span class="font-italic fw-bold">Nicedirect&#174;</span> brings you the opportunity to buy coffee beans directly from passionate farmers,
                    eliminating resellers from the equation. Embrace transparency, support sustainability, and savor the true
                    essence of coffee like never before.</p>
                <p class="hero-par2">100% Direct | 100% Transparent | 100% Amazing Coffee</p>
                <a class="hero-btn" href="#" role="button">BUY NOW</a>
            </div>
    
            <!-- hero image -->
            <div class="hero-image"></div>
        </div>
    
    </section>
    
    
    <section class="data-container">
        <p class="data"> <i class="bi bi-currency-dollar" style="font-size: 4rem; color: #d69f08;"></i><br><br>10 Million shillings total cummulative sales from expo</p>
    
        <p class="data"><i class="bi bi-building-check" style="font-size: 4rem; color: #d69f08;"></i><br><br>62 Exhibiting coffee related companies</p>
    
        <p class="data"><i class="bi bi-emoji-smile" style="font-size: 4rem; color: #d69f08;"></i><br><br>5000 Happy farmers</p>
    
        <p class="data"><i class="bi bi-cash-coin" style="font-size: 4rem; color: #d69f08;"></i><br><br>20 Billion shillings value of Kenya's coffee industry</p>
                    
    </section>
</main>