.main-content {
    background-color: #f1ece9;
    font-family: 'Playfair Display', serif;
}
.arrow-down {
    font-size: 2.5rem;
    color: #db9457;
}


/* HERO SECTION STYLING */
.hero-container {
    font-family: 'Playfair Display', serif;
    height: 560px;
    color: #ffffff;
    /* border: 2px solid red; */
    text-align: center;

    display: flex;
    align-items: center;

    background-image: url("../../../assets/images/hero5.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1ece9;

    position: relative;
    z-index: 1;
}
.hero-container::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .4;
    z-index: -1;
    position: absolute;
}
.hero-text {
    /* border: 2px solid white; */
    padding: 1rem;
    /* backdrop-filter: blur(1px); */

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-header {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.9rem;
}
.header-family {
    font-family: 'Playfair Display', serif;
    color: #ffb575;
}
.hero-par {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    line-height: 1rem;
}
.hero-par2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1rem;
}
.hero-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    width: 50%;
    margin-inline: auto;
    margin-top: 1.5rem;
  
    padding: .5rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: #db9457;
    transition: all 300ms ease-in;
}
.hero-btn:hover {
    background-color: #000000;
    color: #f1ece9;
}


/* media queries */
@media (min-width: 375px) {
    .hero-header {
        font-size: 2.5rem;
        line-height: 2.3rem;
    }
    .hero-par {
        font-size: 1.2rem;
    }
}
@media (min-width: 425px) {
    .hero-header {
        font-size: 2.7rem;
        line-height: 2.3rem;
    }
    .hero-par {
        font-size: 1.4rem;
        line-height: 1.2rem;
    }
    .hero-btn {
        font-size: 1.1rem;
    }
}
@media (min-width: 600px) {
    .hero-text {
        gap: 2rem;
    }
}
@media (min-width: 768px) {
    .hero-container {
        color: #000000;
        /* border: 2px solid red; */
        background-position: right;
        background-size: contain;
        text-align: start;
    }
    .hero-container::after {
        display: none;
    }
    .hero-text {
        /* border: 2px solid red; */
        width: 50%;
        gap: 1.5rem;
        padding-right: 0rem;
    }
    .header-family {
        color: #884408;
    }
    .hero-btn {
        width: 80%;
        margin-inline: 0;
        text-align: center;
        background-color: #000000;
        color: #f1ece9;
    }
    .hero-btn:hover {
        background-color: #db9457;
        color: #000000;
    }
    .hero-par {
        font-size: 19px;
        line-height: 1.35rem;
    }
}
@media (min-width: 1024px) {
    .hero-container {
        color: #000000;
        /* border: 2px solid red; */
        background-size: 90%;
    }
    .hero-text {
        /* border: 2px solid red; */
        padding-left: 4rem;
    }
    .hero-header {
        font-size: 3rem;
        line-height: 2.8rem;
    }
    .hero-btn {
        width: 50%;
    }
}


/* RAW DATA SECTION */
.data-container {
    margin-bottom: 10rem;
    background-color: #000000;
    color: #db9457;
    /* border: 2px solid red; */
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 1rem;
    height: fit-content;
    width: 100%;
    padding: 4rem .2rem;
}
.data-container > * {
    flex-basis: 100%;
}
.data-card {
    /* border: 2px solid red; */
    max-width: 140px;
    font-size: 1rem;
    line-height: 1rem;
}
.data-card i {
    font-size: 4rem;
    /* color: #e2ddd9; */
}

/* media queries */
@media (min-width: 425px) {
    .data-container {
        flex-wrap: nowrap;
    }
}
@media (min-width: 768px) {
    .data-card {
        max-width: 270px;
    }
}



/* WHY US SECTION */
.whyus-container {
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: .2rem;
}
.whyus-header {
    /* border: 2px solid red; */
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-block: 1rem;
}
/* .whyus-header > * {
    border: 2px solid red;
} */
.whyus-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.whyus-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
}
.whyus-header .hero-btn,
.farmers-btn .hero-btn {
    background-color: #000000;
    color: #f1ece9;
    margin-block: 2rem;
}
.whyus-header .hero-btn:hover,
.farmers-btn .hero-btn:hover {
    background-color: #db9457;
    color: #000000;
}
.whyus-cards {
    /* border: 2px solid red; */
    text-align: center;
    /* padding: .2rem; */
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-wrap: wrap;
}
.whyus-cards > * {
    flex-basis: 100%;
}
.whyus-cards .light {
    background-color: #f6f6f7;
}

.whyus-cards .dark {
    background-color: #e2ddd9;
}
/* .whyus-cards .dark:hover,
.whyus-cards .light:hover {
    background-color: rgb(80, 133, 80);
} */
.whyus-card {
    /* border: 2px solid blue; */
    padding: .2rem;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.whyus-cards > *:hover {
    background-color: #000000;
    color: #db9457;
}
.whyus-card i {
    font-size: 2rem
}
.whyus-card h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}


/* media queries */
@media (min-width: 425px) {
    .whyus-card {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .whyus-cards {
        flex-wrap: nowrap;
    }
    .whyus-card {
        padding: .5rem;
        height: 350px;
    }
    .empower h2 {
        line-height: 1.2rem;
    }
    .whyus-header h1 {
        font-size: 2.5rem;
    }
    .whyus-header p {
        width: 70%;
        margin: auto;
        font-size: 1.5rem;
    }
    .whyus-header .hero-btn,
    .farmers-btn .hero-btn {
        width: 400px;
        margin-inline: auto;
    }
}


/* HOW IT WORKS SECTION STYLING */
.how-container {
    /* border: 2px solid rgba(128, 128, 128, 0.205); */
    margin-block: 10rem;
    padding-block: 1rem;
    text-align: center;
    height: 500px;
}
.how-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.how-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
}

/* media queries */
@media (min-width: 768px) {
    .how-header h1 {
        font-size: 2.5rem;
    }
    .how-header p {
        font-family: 'Raleway', sans-serif;
        width: 70%;
        margin: auto;
        font-size: 1.5rem;
    }
}


/* HOW IT WORKS SECTION STYLING */
.farmers-container {
    /* border: 2px solid grey; */
    margin-bottom: 10rem;
    text-align: center;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.farmers-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.farmers-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.farmers-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
}
.farmerslist-container {
    /* border: 2px solid blue; */
    /* padding: .5rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.farmers-list {
    padding: 1rem;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.farmer-card {
    /* border: 2px solid red; */
    height: 270px;
    min-width: 240px;
    max-width: 300px;

    background-image: url("../../../assets/images/coffee-factory.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    position: relative;
    z-index: 1;
}
.farmer-card::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .3;
    z-index: -1;
    position: absolute;
}
.farmer-card:hover {
    transform: scale(1.05);
}
.farmer-card a {
    text-decoration: none;
}
.farmer-card p {
    padding: .5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #000000;
    background-color: #000000b6;
    color: #ffffff;
}
.farmers-btn .hero-btn {
    border-radius: 0;
    padding: .7rem 2rem;
}


/* media queries */
@media (min-width: 768px) {
    .farmers-header h1 {
        font-size: 2.5rem;
    }
    .farmers-header p {
        width: 70%;
        margin: auto;
        font-size: 1.5rem;
    }
}
 @media (min-width: 1024px) {
    .farmer-card {
        height: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .farmers-list {
        gap: 1rem;
    }
}
@media (min-width: 1220px) {
    .farmer-card {
        height: 350px;
        min-width: 350px;
        max-width: 350px;
    }
    .farmers-list {
        gap: 2rem;
    }
}


/* JOIN OUR MOVEMENT SECTION */
.join-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    gap: 3rem;
    /* height: fit-content; */
}
.joincontainer-header {
    /* border: 2px solid red; */
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
}
.joincontainer-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.joincontainer-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
}
.joincontainer-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.joincontainer-content > * {
    /* border: 2px solid blue; */
    width: 100%;
}
.join-card {
    color: #f1ece9;
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;
    position: relative;
}
.join-card::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .6;
    z-index: -1;
    position: absolute;
}
.join-header h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.6rem;
}
.join-subheader {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
.join-content {
    padding-bottom: 2rem;
}
.join-content p {
    /* margin: auto; */
    /* box-sizing: border-box; */
    /* padding: .5rem; */
    /* font-weight: bold; */
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    line-height: .3rem;
}
.join-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: #ffb575;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    /* width: 50%; */
    /* margin-inline: auto; */
  
    padding: .5rem 1rem;
    /* border-radius: 1.5rem; */
    border: 2px solid black;
    transition: all 300ms ease-in;
}
.join-btn:hover {
    background-color: #000000;
    color: #ffb575;
}
.love-coffee {
    background-image: url("../../../assets/images/coffee.webp");
}
.cafe {
    background-image: url("../../../assets/images/coffee-house.webp");
}
.coffee-farm {
    background-image: url("../../../assets/images/coffee-farm.webp");
}

/* media queries */
@media (min-width: 768px) {
    .joincontainer-header h2 {
        font-size: 2.5rem;
    }
    .joincontainer-header p {
        width: 70%;
        margin: auto;
        font-size: 1.5rem;
    }
    .joincontainer-content {
        flex-wrap: nowrap;
    }
    .joincontainer-content > * {
        flex-basis: 100%;
    }
    .join-card {
        height: 500px;
    }
}

/* NEWSLETEER SECTION */
.newsletter-container {
    /* border: 2px solid blue; */
    text-align: center;
    background-color: #e2ddd9;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    gap: 1rem;

    /* background-image: url("../../../assets/images/subscribe.webp");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat; */
}
.news-header h2 {
    font-family: 'Playfair Display', serif;
    /* font-weight: bold; */
    font-size: 1.6rem;
}
.news-content {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    /* font-weight: bold; */
}
.news-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}
.news-form form input{
    padding: .7rem .5rem;
    font-family: 'Raleway', sans-serif;
}
.news-form form button {
    padding: .7rem .5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    /* width: 150px; */
    background-color: #000000;
    color: #f1ece9;
    transition: all 300ms ease-in;
}
.news-form form button:hover {
    background-color: #db9457;
    color: #000000;
}


/* media queries */
@media (min-width: 768px) {
    .news-form form {
        flex-direction: row;
    }
    .news-form form button {
        width: 150px;
    }
}


/* FAQ SECTION */
.faq-container {
    display: flex;
    flex-direction: column;
    text-align: center; 
    gap: 2rem;
    margin-bottom: 10rem;
}
.faq-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
