 /* ::ng-deep .cdk-overlay-pane .mat-mdc-dialog-container,
.mat-mdc-dialog-container .mdc-dialog__container,
.mat-mdc-dialog-container .mdc-dialog__surface {
  height: 80vh;
} */

/*::ng-deep .cdk-overlay-pane .mat-dialog-container {
  background-color: lightgreen;
  max-width: 100vw;
  max-height: 100vh;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container .mat-dialog-content {
  max-height: 100%;
} */


.modal-contents input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .modal-contents input[type=number]::-webkit-inner-spin-button,
  .modal-contents input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .modal-contents .incrdecr input[type="number"] {
    align-self: stretch;
    max-width: 100px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #0000004a;
  }

  .test-swiper {
    height: 100%;
    width: 70%;
  }
  
  .test-swiper .mobile {
    display: none;
  }
  
  .test-swiper .tablet {
    display: none;
  }
  
  .test-swiper .laptop {
    display: none;
  }
  
  @media (max-width: 575px) {
    .test-swiper .mobile {
      display: block;
      height: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .test-swiper .tablet {
      display: block;
      height: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .test-swiper .laptop {
      display: block;
      height: 100%;
    }
  }
  
  
  .test-swiper .slide-content {
    height: 100%;
    /* border: 2px solid red; */
  }
  
  .test-swiper .slide-content .product-item {
    width: 100%;
    height: 94%;
    box-shadow: 0 0 2px 1px #e6e6e6;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .7rem;
  }
  
  .slide-content .product-item .product-image {
    background-color: #f7f8fa;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .slide-content .product-item .product-image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
  
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .slide-content .product-item .product-image img:hover {
    transform: scale(1.2);
  }
  
  .slide-content .product-item .latestadd-actions {
    display: flex;
    gap: .2rem;
    justify-content: center;
    visibility: visible;
    opacity: 1;
  }
  
  .slide-content .product-item .latestadd-actions a {
      padding: 6px 10px;
      transition: all 0.3s ease-in-out;
      text-align: center;
      background-color: #151915;
      color: #fff;
      cursor: pointer;
    }
  
    .slide-content .product-item .latestadd-actions a:hover {
      word-spacing: 3px;
    }
  
    @media (max-width: 1024px) {
      .test-swiper {
        width: 100%;
        height: 480px;
      }
      .test-swiper .slide-content .product-item {
        height: 90%;
      }
    }
  
    @media (max-width: 425px) {
      .test-swiper .slide-content .product-item {
        text-align: center;
      }
    }
  

    /* short */
    .short-container {
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../../../assets/img/short1.jpg");
      background-position: center;
      background-size: cover;
      gap: 5rem;
      text-align: center;
      position: relative;
      z-index: 1;
      margin-bottom: 2.5rem;
      background-attachment: fixed;
    }

    .short-container::after {
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #000000;
      position: absolute;
      opacity: .3;
      z-index: -1;
      background-attachment: fixed;
    }

    .short-container .short-content h2 {
      font-size: 4rem;
      color: #f7f8fa;
      line-height: 3.2rem;
      font-weight: 300;
    }

    .short-container .short-content p {
      font-size: 1.2rem;
      color: #f7f8fad1;
      padding-top: 2rem;
    }

    .short-btn .cta-btn a {
      font-size: 1.2rem;
    }

    @media (min-width: 1319px) {
      .cafe span.roastwhite {
        color: #ffffff;
      }
    }

    @media (min-width:917px) and (max-width: 1200px) {
      .cafe span.awhite {
        color: #ffffff;
      }
    }

    @media (min-width: 901px) and (max-width: 1135px) {
      .cafe span.orwhite {
        color: #ffffff;
      }
    }

    @media (min-width: 901px) and (max-width: 1025px) {
      .cafe span.cafewhite {
        color: #ffffff;
      }
    }

    @media (max-width: 900px) {
      .white,
      .white-responsive {
        color: #212529;
      }

      .sellercafe-card .cta-content h4 {
        right: 0;
      }

      .sellercafe-card.cafe .cta-content h4 {
        padding-right: 1rem;
      }

      .sellercafe-card.seller .cta-content h4 {
        padding-left: 1rem;
      }

      .sellercafe-card.cafe #cta-content2 {
        text-align: end;
      }

      .sellercafe-card.cafe .cta-content p {
        margin-left: auto;
        padding: 0 3rem 0 0;
      }
    }

    @media (max-width: 860px) {
      .sellercafe-card.cafe .cta-content a:hover {
        letter-spacing: 0px;
      }
    }

    @media (max-width: 768px) {
      .sellercafe-card .cta-content .cta-btn {
        padding: 1rem;
      }

      .sellercafe-card .cta-content p {
        padding-left: 1rem;
      }

      .sellercafe-card.cafe .cta-content p {
        padding: 0 1rem 0 0;
      }
    }

    @media (max-width: 600px) {
      .short-container,
      .short-container::after {
        background-attachment: scroll;
      }

      .sellercafe-card.seller .cta-content h4,
      .sellercafe-card .cta-content p {
        padding-left: 0;
      }
  
      .sellercafe-card .cta-content .cta-btn {
        padding: 1rem 0;
      }
  
      .sellercafe-card.cafe .cta-content h4 {
        padding-right: 0;
      }
  
      .sellercafe-card.cafe #cta-content2 {
        text-align: center;
      }
  
      .sellercafe-card.cafe .cta-content p {
        padding: 0;
      }
    }

    @media (max-width: 320px) {
      .short-container .short-content h2 {
        font-size: 3.5rem;
        line-height: 3rem;
      }

      .short-btn .cta-btn a {
        font-size: 1rem;
      }
    }

    /* subscribe */
  .subscribe-form form {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      width: 100%;
  }

  .subscribe-form form input {
      min-width: 100%;
      max-width: 100%;
      border: 1px solid #8080807a;
      height: 45px;
      padding: 1.5rem;
  }
  
  /* input animations */
  .label-float{
      position: relative;
      padding-top: 13px;
    }
  
    .label-float input{
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      outline: none;
      min-width: 250px;
      font-size: 16px;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      /* -webkit-appearance:none; */
      appearance:none;
      transition: all .1s linear;
      background-color: #f0f7fa;
    }
  
    
    .label-float input::placeholder{
      color:transparent;
    }
    
    .label-float label{
      pointer-events: none;
      position: absolute;
      top: calc(50% - 6px);
      left: .26rem;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      background-color: #f0f7fa;
      padding: 2px 5px;
      box-sizing: border-box;
      transition: all .1s linear;
      font-size: 14.5px;
    }
    
    .label-float input:required:invalid + label {
      color: #000000a8;
    }
  
    .label-float input:focus + label,
    .label-float input:not(:placeholder-shown) + label{
      font-size: 13px;
      top: 0;
      color: #000000a8;
    }
    /* end of animations */
  
    .subscribe-form form button {
      background-color: rgb(5, 5, 90);
      border: none;
      width: 200px;
      color: #fff;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      height: 45px;
      font-size: 1rem;
      transition: all 250ms ease-in-out;
      margin-top: 13px;
      padding: 1.55rem;
    }
  
  .subscribe-form form button:hover {
      letter-spacing: 3px;
      background-color: #e38c2b;
      color: #000000;
  }

  .subscribe-form form input:focus {
      border: 1px solid #0000ff59;
      box-shadow: none;
  }

  @media (max-width: 1024px) {
    .subscribe-form form button {
      border-radius: 0;
    }

    .label-float input {
      border-radius: 4px;
    }
  }

  @media (max-width: 425px) {
    .subscribe-form form input {
      width: 100%;
    }
  }


  /* EMPOWER SECTION */
  .empower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #000000;
    margin-bottom: 4rem;
    color: #ffffff;
  }

  .empower-container .empower-info {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .empower-container .empower-info > * {
    flex-basis: 100%;
  }

  .empower-container .farmer-image {
    background-image: url("../../../assets/img/farmer.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .empower-container .empower-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 25px;
    height: 100%;
  }

  .empower-container .empower-content .empower-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    text-align: center;
  }

  .empower-container .empower-content .empower-btn > * {
    flex-basis: 100%;
  }

  .empower-container .empower-content .empower-btn a {
    color: #000000;
    background-color: #ffffff;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  .empower-container .empower-content .empower-btn a:hover {
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 3px;
    border: 1px solid #ffffff;
  }

  .empower-container h2 {
    font-weight: 300;
    font-size: 4rem;
    line-height: 60px;
  }

  .empower-container p {
    color: #ffffffc9;
    font-size: 1.15rem;
    width: 90%;
  }

/* media queries for empower section */
   @media (max-width: 768px) {
    .empower-container {
      height: max-content;
      padding-block: 2rem;
    }

    .empower-container .empower-info {
      align-items: normal;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  
    .empower-container .empower-info > * {
      flex-basis: auto;
    }

    .empower-container .farmer-image {
      height: 400px;
    }

    .empower-container .empower-content {
      text-align: center;
      gap: 1rem;
    }

    .empower-container .empower-content .empower-btn {
      width: 100%;
    }

    .empower-container h2,
    .empower-container p  {
      width: 100%;
    }

    .empower-container h2  {
      font-size: 2.8rem;
      line-height: 45px;
    }
  
   } 

   @media (max-width: 425px) {
    .empower-container .empower-content {
      padding-inline: 10px;
    }
   }

   @media (max-width: 375px) {
    .empower-container .empower-content .empower-btn {
      flex-direction: column;
    }

    .empower-container .empower-content .empower-btn a {
      width: 150px;
    }
   }