.main-content {
    background-color: #f1ece9;
    font-family: 'Playfair Display', serif;
}
.arrow-down {
    font-size: 2.5rem;
    color: #db9457;
}

.hero-container {
    font-family: 'Playfair Display', serif;
    height: 560px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url("../../../assets/images/hero5.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1ece9;

    position: relative;
    z-index: 1;
}
.hero-container::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .4;
    z-index: -1;
    position: absolute;
}
.hero-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-header {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.9rem;
}
.header-family {
    font-family: 'Playfair Display', serif;
    color: #ffb575;
}
.hero-par {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    line-height: 1rem;
}
.hero-par2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1rem;
}
.hero-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    width: 50%;
    margin-inline: auto;
    margin-top: 1.5rem;
  
    padding: .5rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: #db9457;
    transition: all 300ms ease-in;
}
.hero-btn:hover {
    background-color: #000000;
    color: #f1ece9;
}


.data-container {
    margin-bottom: 10rem;
    background-color: #000000;
    color: #db9457;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 1rem;
    height: fit-content;
    width: 100%;
    padding: 4rem .2rem;
}
.data-container > * {
    flex-basis: 100%;
}
.data-card {
    max-width: 140px;
    font-size: 1rem;
    line-height: 1rem;
}
.data-card i {
    font-size: 4rem;
}

.whyus-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: .2rem;
}
.whyus-header {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-block: 1rem;
}
.whyus-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.whyus-header p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding-top: 1rem;
}
.whyus-header .hero-btn {
    background-color: #000000;
    color: #f1ece9;
    margin-block: 2rem;
}
.whyus-header .hero-btn:hover {
    background-color: #db9457;
    color: #000000;
}
.whyus-cards {
    text-align: center;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-wrap: wrap;
}
.whyus-cards > * {
    flex-basis: 100%;
}
.whyus-cards .light {
    background-color: #f6f6f7;
}

.whyus-cards .dark {
    background-color: #e2ddd9;
}
.whyus-card {
    padding: .2rem;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.whyus-cards > *:hover {
    background-color: #000000;
    color: #db9457;
}
.whyus-card i {
    font-size: 2rem
}
.whyus-card h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

@media (min-width: 425px) {
    .whyus-card {
        height: 200px;
    }
}

.how-container {
    margin-block: 10rem;
    text-align: center;
    height: 300px;
}
.how-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}