<section class="main-content">

    <!-- HERO SECTION -->
    <section class="hero-container">
    
        <!-- Hero Section text and background image-->
        <div class="hero-text">
            <h1 class="hero-header">Buy coffee direct from the farmer. <span class="header-family">No resellers.</span></h1>
            <p class="hero-par"><span class="font-italic fw-bold">Nicedirect&#174;</span> brings you the opportunity to buy
                coffee beans directly from passionate farmers,
                eliminating resellers from the equation. Embrace transparency, support sustainability, and savor the true
                essence of coffee like never before.</p>
            <p class="hero-par2">100% Direct | 100% Transparent | 100% Amazing Coffee</p>
            <a class="hero-btn" href="#" role="button">BUY NOW</a>
        </div>
    
    </section>
    
    <!-- RAW DATA SECTION -->
    <section class="data-container">
        <p class="data-card"> <i class="bi bi-currency-dollar"></i><br><br>10 Million shillings total cummulative sales</p>
        <p class="data-card"><i class="bi bi-building-check"></i><br><br>62 Exhibiting coffee related companies</p>
        <p class="data-card"><i class="bi bi-emoji-smile"></i><br><br>5000 Happy farmers</p>
        <p class="data-card"><i class="bi bi-cash-coin"></i><br><br>20 Billion shillings value of Kenya's coffee industry</p>
                    
    </section>


    <!-- WHY US SECTION -->
    <section class="whyus-container">

        <div class="whyus-header">
            <h1>Why Us?</h1>
            <span class="arrow-down">&#8675;</span>
            <p>Everytime you buy direct you get pure unadulterated coffee from source, you empower farmers by giving them the
                highest pay possible and you put a face to the coffee you buy by getting first hand acquintance with the farmers who
                grow it.</p>
            <a class="hero-btn" href="#" role="button">BUY NOW</a>
        </div>

        <div class="whyus-cards">
            <div class="whyus-card light">
                <i class="bi bi-piggy-bank"></i>
                <h2>Save up to 15%</h2>
                <p>Everytime you buy direct from farmers, you save up to 15% with every purchase</p>
            </div>
            
            <div class="whyus-card dark">
                <i class="bi bi-journal-text"></i>
                <h2>Coffee with a story</h2>
                <p>Put a face to the coffee you buy by getting directly acquinted with farmers</p>
            </div>

            <div class="whyus-card light empower">
                <i class="bi bi-graph-up-arrow"></i>
                <h2>Empower and Enrich</h2>
                <p>Farmers get empowered to produce the best coffee when they get the highest pay</p>
            </div>

            <div class="whyus-card dark">
                <i class="bi bi-house-check"></i>
                <h2>Direct impact</h2>
                <p>Directly touch the lives of families that work hard to produce amazing coffees.</p>
            </div>
        </div>
                    
    </section>


    <!-- HOW IT WORKS SECTION -->
    <div class="how-container">
        <div class="how-header">
            <h1>How it Works</h1>
            <span class="arrow-down">&#8675;</span>
            <p>Making direct trade work is a cooperative effort that invloves highly experienced partners who work behind the scenes to make it easy for you.</p>
        </div>
    </div>
</section>