<div class="notification">
    <div class="notification-header">
        <h2>Coffee Received</h2>

        <div class="date">
            <p>3:30pm, 15 Nov 2023</p>
        </div>
    </div>

    <div class="notification-content">
        <p>Your coffee #1234RT4 has arrived at warehouse #1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quidem ipsum fugit, beatae expedita assumenda rem pariatur modi veritatis numquam maxime porro, mollitia recusandae omnis quos, autem maiores minus soluta?
        Commodi, voluptate libero, dolor earum doloremque vitae asperiores harum est ipsa velit reiciendis iusto corrupti iste, culpa laboriosam minima delectus esse! Impedit corrupti illo reprehenderit! Rem dolorem provident dolores consequatur!
        Fuga officiis iusto repudiandae, eos culpa qui perspiciatis at id aperiam reprehenderit temporibus esse sed recusandae, doloremque minus ex excepturi accusamus numquam quam doloribus ut! Temporibus placeat nemo quas a.
        At veniam aliquam neque quisquam laboriosam dicta, incidunt, cumque eaque nemo minima, inventore unde repudiandae nobis alias velit. Quod asperiores magnam eligendi delectus libero beatae quam totam veritatis ad veniam?
        Laborum ad incidunt, veniam consequatur qui, ipsum dolores at maxime saepe aliquid praesentium corporis consequuntur tempore natus blanditiis iste suscipit! Maiores expedita reiciendis consequuntur culpa neque similique nesciunt odit enim.
        Sapiente sint commodi minus sunt doloremque corporis, sequi beatae quaerat quidem laborum consequatur. Voluptates aperiam autem incidunt tempora repellat? Totam, modi officia. Id, explicabo eius? Harum similique assumenda enim deleniti.
        Est provident qui aut dignissimos fugit neque quas cum sapiente adipisci illo ut tenetur autem earum exercitationem maiores iure, error suscipit eaque vitae dolores nihil. Maxime cumque dolores placeat rem!
        Cum aperiam eum repudiandae recusandae laudantium. Laboriosam porro quod itaque facere? Aut dignissimos facilis in, suscipit repellat nemo sit, eius dolor enim qui illum, unde natus molestias aliquam asperiores! Reiciendis!
        Reprehenderit, quisquam eum beatae illum nihil sunt est laudantium minima magnam debitis, rem aut animi doloremque in eaque ab consequuntur! Beatae assumenda voluptatibus doloribus natus harum mollitia voluptatum modi minima.
        Ipsa placeat consectetur quis est neque repudiandae, voluptatum facere quaerat molestiae ea nesciunt! Fugit quam corporis animi deserunt ab magnam dolores, repellendus assumenda numquam ipsam magni sequi delectus dolorum officia.</p>
    </div>
</div>
