<div class="login-container">
    <h2>Welcome</h2>
    <h3>Sign in into your Account.</h3>

    <form (ngSubmit)="loginUser()" ngNativeValidate>
        <div class="email-input">
            <input id="email" name="email" [(ngModel)]="email" class="form-control"
                type="email" required>
            <label for="email" class="label-name">
                <span class="content-name">Name</span>
            </label>
        </div>

        <div class="password-input">
            <input input id="password" name="password" [(ngModel)]="password"
                class="form-control" type="password" required>
            <label for="password" class="label-name">
                <span class="content-name">Password</span>
            </label>
            <p class="forgotten">Forgotten Password?</p>
        </div>

        <button mat-raised-button type="submit">Login</button>

        <div class="form-extras">
            <p>Dont have an account?<br><a (click)="showSignUpDialog()">Sign up</a></p>
            <p>By continuing, you agree to Our Business Terms of Service; Opens a new tab and acknowledge you've read our
                Privacy Policy;</p>
        </div>        
    </form>
</div>
