.login-container{
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

/* h1 {
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 192, 1);
    font-size:xx-large;
} */

h2 {
    font-size: 30px;
}
h3 {
    font-weight: 500;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.login-container form .input-card {
    margin-bottom: 30px;
}

.login-container form .password-input {
    margin-bottom: 10px;
}

.login-container form .signup-visibility {
    margin-bottom: 20px;
}

.login-container form input {
    width: 100%;
    border: 1px solid #8080807a;
    border-radius: 4px;
    height: 40px;
    padding-inline: .5rem;
}

/* input animations */
.login-container .email-input,
.login-container .password-input {
    position: relative;
}

.login-container .email-input label,
.login-container .password-input label {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.login-container .email-input label::after,
.login-container .password-input::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.3s  ease;
}

.login-container .email-input .content-name,
.login-container .password-input .content-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: all .3s ease;
}

.login-container .password-input .content-name {
    bottom: 30px;
}

.login-container .email-input input:focus + .label-name .content-name,
.login-container .email-input input:valid + .label-name .content-name,
.login-container .password-input input:focus + .label-name .content-name,
.login-container .password-input input:valid + .label-name .content-name {
    transform: translateY(-150%);
}

.login-container .email-input input:focus + .label-name::after,
.login-container .email-input input:valid + .label-name::after,
.login-container .password-input input:focus + .label-name::after,
.login-container .password-input input:valid + .label-name::after  {
    transform: translateX(0%);
}
/* end of input animations */

.login-container form input:focus {
    border: 1px solid #0000ff85;
    box-shadow: none;
}

.login-container form button {
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 0;
}

.login-container form .form-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.login-container form .password-input p,
.login-container form .form-extras p a {
    color: blue;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.login-container form .password-input p:hover,
.login-container form .form-extras p a:hover {
    text-decoration: underline;
}

.login-container .signup-visibility {
    display: flex;
}

.login-container #myInput {
    width: 20px;
    height: 20px;
}

@media (max-width: 375px) {
    .login-container {
        padding: 5px;
    }
}