<div class="updatepassword-container">
    <h3>Update password</h3>

    <form ngNativeValidate>

        <div class="label-float">
            <input id="newpassword" name="password" [(ngModel)]="newpassword" class="form-control"
            type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
            <label for="newpassword">New Password</label>
        </div>

        <div class="label-float">
            <input id="confirmpassword" name="password" [(ngModel)]="confirmpassword" class="form-control"
            type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
            <label for="confirmpassword">Confirm Password</label>
        </div>    

        <div class="signup-visibility input-card">
            <div>
                <input type="checkbox" (click)="togglePasswordVisibility()" id="myInput" title="visibility">
            </div>
            <div>
                <label for="myInput" class="show-pass">&nbsp;Show Password</label>
            </div>
        </div>

        <button mat-raised-button type="submit" class="setpassword">Set new password</button>

        <div class="form-extras">
            <p  class="help-text">If you need further assistance <a href="mailto:nicecoffeeexpo@gmail.com">contact our support team</a></p>
        </div>        
    </form>
</div>
