.products-navbar {
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    top: 68px;
    z-index: 996;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.products-navbar > * {
  padding: .5rem;
}

.navbar-input {
  width: 50%;
}

.navbar-input .form-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar-input .form-group .form-control {
  border-radius: 3px;
  width: 100%;
  padding: .5rem;
  border: 2px solid #0000004f;
}

.products-navbar .search-icon {
  cursor: pointer;
}

.products-navbar .search-icon i,
.products-navbar .cart-link i {
  font-size: 26px;
}
