<app-navbar></app-navbar>

<section class="about-component">
    <!-- HERO -->
    <div class="about-header">
        <h2>About Us</h2>
    </div>

    <!-- OUR STORY -->
    <!-- <div class="our-story">
        <div class="story-header">
            <h2>How it started</h2>
        </div>

        <div class="story-content">
            <div class="story-image">
                <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg?auto=compress&cs=tinysrgb&w=600" alt="a typewriter">
            </div>
            
            <div class="story">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consequatur harum saepe earum dolorem? Blanditiis corrupti maxime, at consequatur animi quae, expedita iusto a doloribus porro necessitatibus! Magnam, cum dolor?
                Unde distinctio sint, atque cum qui, sed magnam culpa tempore veritatis vel eius! Nostrum aperiam porro saepe aut alias rerum deserunt, itaque sed ratione vitae doloremque suscipit, ab qui quae?
                Impedit saepe dolores laboriosam cupiditate ab quas, dolorem blanditiis aut, maxime esse rerum recusandae ratione pariatur corrupti omnis atque eaque minus dicta architecto mollitia ut sunt nulla. Maiores, adipisci architecto?</p>
            </div>
        </div>
    </div> -->

    <!-- MISSION -->
    <div class="our-mission">
      <div class="mission-card shop">
        <div class="mission-content">
          <h2>One stop shop</h2>
          <p>Nice Direct brings together a wide range of highly experienced partners who bring on board skills, resources and facilities needed to support direct coffee trade.
            They include cuppers, logisticians, warehousemen, shippers, and banks. Put together, they create a highly resourceful platform that provides a one stop shop for all direct coffee trade solutions.</p>
        </div>
      
        <div class="mission-image">
          <img src="../../../assets/img/about/one-stop-shop.jpg"
            alt="a person shopping online">
        </div>
      </div>

      <div class="mission-card traceability">
        <div class="mission-content">
          <h2>Traceability</h2>
          <p>All Nice Direct coffees are single origin and traceable to farm for individual estates, or traceable to washing station for cooperative societies. You actually get to follow the coffee from flowering through to processing on the platform.
            All our producers post on a regular basis photos, videos and farm data on their timelines. This keeps you updated on the progress of the coffee in every stage and helps you make better purchasing decisions.</p>
        </div>
      
        <div class="mission-image">
          <img src="../../../assets/img/about/traceability1.jpg"
            alt="coffee farm">
        </div>
      </div>

      <div class="mission-card relationships">
        <div class="mission-content">
          <h2>Relationships</h2>
          <p>At NICE we believe coffee is all about relationships. Connecting directly to farmers will help you build valuable relationships that will ensure a consistent and sustainable supply of coffee. 
            The epitome of great relationships is travelling to origin which we regularly organize for our partners. Origin trips are great opportunities to strengthen valuable relationships that will enable you fulfill your dream of serving exceptional coffee.</p>
        </div>
      
        <div class="mission-image">
          <img src="../../../assets/img/about/relationships1.jpg"
            alt="coffee farmers with buyers">
        </div>
      </div>
        
    </div>

    <!-- WHY CHOOSE US -->
    <div class="whyus-container">
        <div class="whyus-header">
            <h2>Why choose us</h2>
        </div>

        <div class="whyus-content">
            <div class="why-card save" data-aos="fade-up" data-aos-delay="100">
                <img src="https://cdn-icons-png.flaticon.com/128/584/584093.png?track=ais" alt="piggy bank icon">
                <div class="card-info">
                    <h4>Save up to 15%</h4>
                    <p>Everytime you buy direct from farmers, you save up to 15% with every purchase</p>
                </div>  
            </div>
        
            <div class="why-card empower" data-aos="fade-up" data-aos-delay="200">
                <img src="https://cdn-icons-png.flaticon.com/128/1885/1885613.png?track=ais" alt="fist pointing up icon">
                <div class="card-info">
                    <h4>Empower and Enrich</h4>
                    <p>Farmers get empowered to produce the best coffee when they get the highest
                        pay</p>
                </div>  
            </div>
        
            <div class="why-card impact" data-aos="fade-up" data-aos-delay="300">
                <img src="https://cdn-icons-png.flaticon.com/128/3131/3131333.png?track=ais" alt="holding hands">
                <div class="card-info">
                    <h4>Direct impact</h4>
                    <p>Directly touch the lives of families that work hard to produce amazing
                        coffees.</p>
                </div>
            </div>
        
            <div class="why-card story" data-aos="fade-up" data-aos-delay="400">
                <img src="https://cdn-icons-png.flaticon.com/128/2708/2708777.png?track=ais" alt="journal">
                <div class="card-info">
                    <h4>Coffee with a story</h4>
                    <p>Put a face to the coffee you buy by getting directly acquinted with farmers
                    </p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- HOW IT WORKS -->
    <div class="how-container" data-aos="fade-up" id="how-it-works">
        <div class="how-header" data-aos="fade-in">
            <h2>How NiceDirect works</h2>
        </div>

        <div class="how-content">
            <div class="how-card quality">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">01</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Quality control</h4>
                        <p class="description">Our presence at source ensures that all coffees the farmer brings to market directly are sustainably grown to give you the best possible cup.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/quality.jpg" alt="quality certification">
                </div>
                
            </div>

            <div class="how-card prefinancing">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">02</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Prefinances</h4>
                        <p class="description">We ensure the farmer gets prefinancing that allows them to get partial payment which enables them to continue working while the coffee goes to market.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/prefinancing.jpg" alt="a hand giving another hand a sack of money">
                </div>
                
            </div>

            <div class="how-card logistics">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">03</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Logistics</h4>
                        <p class="description">Our network of reliable logistics partners enables the farmer to ship their coffee to any part of the world and have it warehoused and delivered on order.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/logistics.jpg" alt="a truck moving from one place to another">
                </div>
                
            </div>

            <div class="how-card marketing">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">04</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Marketing</h4>
                        <p class="description">We make noise on behalf of farmers to let you know their coffee is in the market. Joint marketing manages costs and allows the farmer to concentrate on what they do best.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/marketing.jpg" alt="people speaking through megaphones">
                </div>
                
            </div>

            <div class="how-card transparency">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">05</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Transparency</h4>
                        <p class="description">Everything from transaction costs, prices, and what finally ends up in the farmer's pocket is open for all transacting parties to view.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/transparency.jpg" alt="a list showing all transactions">
                </div>
                
            </div>

            <div class="how-card shop">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="process-number">
                        <span class="number">06</span>
                        <span>|</span>
                    </div> -->

                    <div class="how-info">
                        <h4 class="title">Shop</h4>
                        <p class="description">Once coffees are warehoused in the destination market, you can make orders for both green or roasted which can be fullfilled quickly and delivered to your doorstep.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="../../../assets/img/about/shop.jpg" alt="a lady on the phone shopping online">
                </div>
                
            </div>
        </div>
    </div>

    <!-- TEAM -->
    <!-- <div class="team-container">
        <div class="team-header" data-aos="fade-in">
            <h2>Meet our team</h2>
        </div>

        <div class="team-list">
            <div class="team-card ceo">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>John Doe</h2>
                        <p>CEO</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error.</p>
                    </div>
                </div>
            </div>

            <div class="team-card md">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>Jane Doe</h2>
                        <p>Managing Director</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error.</p>
                    </div>
                </div>
            </div>

            <div class="team-card tech">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>John Doe</h2>
                        <p>Tech</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

     <!-- PARTNERS SECTION -->
     <div class="partners-container" data-aos="fade-up" id="partners">
        <div class="partners-header">
            <h2>NICE partners since 2016</h2>
            <p>Join our growing list of partners</p>
        </div>

        <div class="partners-info">
            <div class="partners-list">
                <div class="partner-image" *ngFor="let item of partnerData">
                    <img src="{{item.source}}" alt="company logo">
                </div>
            </div>
        </div>
    </div>

    <!-- GALLERY SECTION -->
    <div class="gallery-container" data-aos="fade-up" id="gallery">
      <div class="gallery-header">
        <h2>Gallery</h2>
      </div>
    
      <div class="gallery-filtered" data-aos="fade-up">
        <div class="filters" (click)="onLabelGroupClick($event)">
          <label for="forall" class="filter-label active">ALL</label>
          <label for="for22" class="filter-label">2022</label>
          <label for="for19" class="filter-label">2019</label>
          <label for="for18" class="filter-label">2018</label>
          <label for="for17" class="filter-label">2017</label>
        </div>
    
        <div class="filter-card">
          <input type="radio" checked name="year-filter" id="forall" class="filter-input">
          <div class="filter-content">
    
            <!-- 2022 -->
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo4.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo4.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo5.png" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo5.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo6.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo6.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo7.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo7.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo8.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo8.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <!-- 2019 -->
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo3.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo3.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo18.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo18.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo19.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo19.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo20.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo20.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo21.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo21.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <!-- 2018 -->
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo2.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo2.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo13.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo13.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo14.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo14.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo15.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo15.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo16.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo16.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo17.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo17.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo22.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo22.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <!-- 2017 -->
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo1.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo1.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo9.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo9.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo10.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo10.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo11.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo11.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo12.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo12.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="filter-card">
          <input type="radio" name="year-filter" id="for22" class="filter-input">
          <div class="filter-content">
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo4.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo4.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo5.png" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo5.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo6.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo6.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo7.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo7.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-22">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo8.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo8.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="filter-card">
          <input type="radio" name="year-filter" id="for19" class="filter-input">
          <div class="filter-content">
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo3.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo3.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo18.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo18.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo19.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo19.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo20.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo20.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-19">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo21.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo21.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="filter-card">
          <input type="radio" name="year-filter" id="for18" class="filter-input">
          <div class="filter-content">
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo2.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo2.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo13.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo13.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo14.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo14.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo15.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo15.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo16.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo16.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo17.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo17.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-18">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo22.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo22.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="filter-card">
          <input type="radio" name="year-filter" id="for17" class="filter-input">
          <div class="filter-content">
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo1.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo1.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo9.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo9.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo10.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo10.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo11.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo11.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
    
            <div class="expogallery-item filter-17">
              <div class="expogallery-links" data-aos="fade-up">
                <a href="../../../assets/img/expo/expo12.jpg" data-gallery="expoGallery" class="gallery-lightbox"
                  title="NICE 2017">
                  <img src="../../../assets/img/expo/expo12.jpg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <!-- FAQ SECTION -->
    <div class="faq-container" id="faqs">
      <div class="faq-header" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-image">
          <img src="../../../assets/img/about/FAQ.jpg" alt="people looking for answers online">
        </div>
      </div>

      <div class="faqs-accordion" data-aos="fade-up">
        <div>
            <input type="radio" name="faq-accordion" id="question1" class="accordion-input" checked (change)="checkStatus1($event);">
            <label for="question1" class="accordion-label">
              What exactly is NiceDirect?
              <i *ngIf="isShowContent" class="fa-solid fa-caret-up"></i>
              <i *ngIf="!isShowContent" class="fa-solid fa-caret-down"></i>
            </label>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat suscipit magnam reiciendis quam? Reiciendis asperiores fugit itaque optio sapiente earum eveniet eaque commodi, iusto aspernatur unde non delectus minus assumenda?
                Doloribus, magni ullam debitis rem impedit ipsam ut. Quo repellat at autem atque accusamus laboriosam ducimus reiciendis consequatur sint distinctio, possimus obcaecati nostrum quae laborum? Unde ullam necessitatibus assumenda eveniet..
                </p>
            </div>
        </div>

        <div>
            <input type="radio" name="faq-accordion" id="question2" class="accordion-input" (change)="checkStatus2($event);">
            <label for="question2" class="accordion-label">
              How transparent are you?
              <i *ngIf="isShowContent2" class="fa-solid fa-caret-up"></i>
              <i *ngIf="!isShowContent2" class="fa-solid fa-caret-down"></i>
            </label>
            <div class="accordion-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam natus est, quas at, ut, eum officiis architecto beatae aspernatur nostrum quisquam deserunt voluptate quam eius sequi repellat. Provident, veniam repellendus.
                Reprehenderit repudiandae, dignissimos sapiente eos ipsum numquam optio repellendus quidem voluptas non fuga in perferendis aliquid iste, exercitationem rem dolore, ut nam unde quia explicabo error sequi quis quaerat? Dolorem?</p>
            </div>
        </div>

        <div>
          <input type="radio" name="faq-accordion" id="question3" class="accordion-input" (change)="checkStatus3($event);">
          <label for="question3" class="accordion-label last">
            How is the freshness of the coffee maintained during shipping?
            <i *ngIf="isShowContent3" class="fa-solid fa-caret-up"></i>
            <i *ngIf="!isShowContent3" class="fa-solid fa-caret-down"></i>
          </label>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, molestiae perspiciatis. Vitae provident rem
              voluptatibus ipsum corporis eveniet dolore harum fugit aut, eum eius sit eos quos? Numquam, impedit praesentium.
              Odit, dolores! Deleniti veritatis ut earum dolores aut debitis molestias recusandae unde eveniet expedita et ea
              culpa pariatur, numquam labore blanditiis magnam error doloremque voluptas. Iure reprehenderit illum minus
              similique</p>
          </div>
        </div>

        <div>
          <input type="radio" name="faq-accordion" id="question4" class="accordion-input" (change)="checkStatus4($event);">
          <label for="question4" class="accordion-label last">
            Are your coffee beans ethically sourced and sustainably produced?
            <i *ngIf="isShowContent4" class="fa-solid fa-caret-up"></i>
            <i *ngIf="!isShowContent4" class="fa-solid fa-caret-down"></i>
          </label>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, molestiae perspiciatis. Vitae provident rem
              voluptatibus ipsum corporis eveniet dolore harum fugit aut, eum eius sit eos quos? Numquam, impedit praesentium.
              Odit, dolores! Deleniti veritatis ut earum dolores aut debitis molestias recusandae unde eveniet expedita et ea
              culpa pariatur, numquam labore blanditiis magnam error doloremque voluptas. Iure reprehenderit illum minus
              similique</p>
          </div>
        </div>

        <div>
          <input type="radio" name="faq-accordion" id="question5" class="accordion-input" (change)="checkStatus5($event);">
          <label for="question5" class="accordion-label last">
            What is your return policy if I am not satisfied with the coffee I receive?
            <i *ngIf="isShowContent5" class="fa-solid fa-caret-up"></i>
            <i *ngIf="!isShowContent5" class="fa-solid fa-caret-down"></i>
          </label>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, molestiae perspiciatis. Vitae provident rem
              voluptatibus ipsum corporis eveniet dolore harum fugit aut, eum eius sit eos quos? Numquam, impedit praesentium.
              Odit, dolores! Deleniti veritatis ut earum dolores aut debitis molestias recusandae unde eveniet expedita et ea
              culpa pariatur, numquam labore blanditiis magnam error doloremque voluptas. Iure reprehenderit illum minus
              similique</p>
          </div>
        </div>

        <div>
          <input type="radio" name="faq-accordion" id="question6" class="accordion-input" (change)="checkStatus6($event);">
          <label for="question6" class="accordion-label">
            Is my data safe?
            <i *ngIf="isShowContent6" class="fa-solid fa-caret-up"></i>
            <i *ngIf="!isShowContent6" class="fa-solid fa-caret-down"></i>
          </label>
          <div class="accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla fuga libero, pariatur voluptatem in, corporis vero quam necessitatibus repudiandae, suscipit reiciendis exercitationem quos eaque quidem recusandae! Doloremque, commodi ut!
              Aperiam vero quo, quae repudiandae soluta natus quod voluptate minus? Modi error, quisquam voluptate dolorem dignissimos illum reprehenderit animi pariatur quibusdam illo ducimus porro repudiandae voluptas, libero quis veritatis asperiores?</p>
          </div>
      </div>

        <div>
          <input type="radio" name="faq-accordion" id="question7" class="accordion-input" (change)="checkStatus7($event);">
          <label for="question7" class="accordion-label last">
            I have more questions, can you help me?
            <i *ngIf="isShowContent7" class="fa-solid fa-caret-up"></i>
            <i *ngIf="!isShowContent7" class="fa-solid fa-caret-down"></i>
          </label>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, molestiae perspiciatis. Vitae provident rem
              voluptatibus ipsum corporis eveniet dolore harum fugit aut, eum eius sit eos quos? Numquam, impedit praesentium.
              Odit, dolores! Deleniti veritatis ut earum dolores aut debitis molestias recusandae unde eveniet expedita et ea
              culpa pariatur, numquam labore blanditiis magnam error doloremque voluptas. Iure reprehenderit illum minus
              similique</p>
          </div>
        </div>
      </div>
    </div>

</section>

<app-footer></app-footer>
