<app-navbar></app-navbar>

<section class="about-component">
    <div class="about-header">
        <h2>About Us</h2>
    </div>

    <div class="our-story">
        <div class="story-header">
            <h2>How it started</h2>
        </div>

        <div class="story-content">
            <div class="story-image">
                <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg?auto=compress&cs=tinysrgb&w=600" alt="a typewriter">
            </div>
            
            <div class="story">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consequatur harum saepe earum dolorem? Blanditiis corrupti maxime, at consequatur animi quae, expedita iusto a doloribus porro necessitatibus! Magnam, cum dolor?
                Unde distinctio sint, atque cum qui, sed magnam culpa tempore veritatis vel eius! Nostrum aperiam porro saepe aut alias rerum deserunt, itaque sed ratione vitae doloremque suscipit, ab qui quae?
                Impedit saepe dolores laboriosam cupiditate ab quas, dolorem blanditiis aut, maxime esse rerum recusandae ratione pariatur corrupti omnis atque eaque minus dicta architecto mollitia ut sunt nulla. Maiores, adipisci architecto?</p>
            </div>
        </div>
    </div>

    <div class="our-mission">
        <div class="mission-content">
            <p>Get coffee hassle free, no middlemen. 100% traceable, 100% direct</p>
        </div>

        <div class="mission-image">
            <img src="https://images.pexels.com/photos/3646111/pexels-photo-3646111.jpeg?auto=compress&cs=tinysrgb&w=600" alt="coffee cup">
        </div>
    </div>

    <div class="whyus-container">
        <div class="whyus-header">
            <h2>Why choose us</h2>
        </div>

        <div class="whyus-content">
            <div class="why-card save" data-aos="fade-up" data-aos-delay="100">
                <img src="https://cdn-icons-png.flaticon.com/128/584/584093.png?track=ais" alt="piggy bank icon">
                <div class="card-info">
                    <h4>Save up to 15%</h4>
                    <p>Everytime you buy direct from farmers, you save up to 15% with every purchase</p>
                </div>  
            </div>
        
            <div class="why-card empower" data-aos="fade-up" data-aos-delay="200">
                <img src="https://cdn-icons-png.flaticon.com/128/1885/1885613.png?track=ais" alt="fist pointing up icon">
                <div class="card-info">
                    <h4>Empower and Enrich</h4>
                    <p>Farmers get empowered to produce the best coffee when they get the highest
                        pay</p>
                </div>  
            </div>
        
            <div class="why-card impact" data-aos="fade-up" data-aos-delay="300">
                <img src="https://cdn-icons-png.flaticon.com/128/3131/3131333.png?track=ais" alt="holding hands">
                <div class="card-info">
                    <h4>Direct impact</h4>
                    <p>Directly touch the lives of families that work hard to produce amazing
                        coffees.</p>
                </div>
            </div>
        
            <div class="why-card story" data-aos="fade-up" data-aos-delay="400">
                <img src="https://cdn-icons-png.flaticon.com/128/2708/2708777.png?track=ais" alt="journal">
                <div class="card-info">
                    <h4>Coffee with a story</h4>
                    <p>Put a face to the coffee you buy by getting directly acquinted with farmers
                    </p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="how-container" data-aos="fade-up">
        <div class="how-header" data-aos="fade-in">
            <h2>How NiceDirect works</h2>
        </div>

        <div class="how-content">
            <div class="how-card quality">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">01</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Quality control</h4>
                        <p class="description">Our presence at soure ensures that all coffees the farmer brings to market directly are sustainably grown and give you the best possible cup.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/iso-certification-concept-illustration_114360-6057.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="certification">
                </div>
                
            </div>

            <div class="how-card prefinancing">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">02</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Prefinances</h4>
                        <p class="description">We ensure the farmer gets prefinancing that allows them to get partial payment which enables them to continue working while the coffee goes to market.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/finance-department-employees-are-calculating-expenses-company-s-business_1150-41782.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="finances">
                </div>
                
            </div>

            <div class="how-card logistics">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">03</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Logistics</h4>
                        <p class="description">Our network of reliable logistics partners enables the farmer to ship their coffee to any part of the world and have it warehoused and delivered on order.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/national-transport-abstract-concept-illustration_335657-3929.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="logistics">
                </div>
                
            </div>

            <div class="how-card marketing">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">04</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Marketing</h4>
                        <p class="description">We make noise on behalf of farmers to let you know their coffee is in the market. Joint marketing manages costs and allows the farmer to concentrate on what they do best.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/woman-screaming-with-megaphone_23-2148481290.jpg?w=740&t=st=1698384618~exp=1698385218~hmac=43803176d3ab5cd71f286e5a60c2f0b265cce0a0fbb3f6228d3250d883ab269b" alt="marketing">
                </div>
                
            </div>

            <div class="how-card transparency">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">05</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Transparency</h4>
                        <p class="description">Our presence at soure ensures that all coffees the farmer brings to market directly are sustainably grown and give you the best possible cup.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/business-people-with-magnifying-glass-charts_1262-18918.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=ais" alt="transparency">
                </div>
                
            </div>

            <div class="how-card shop">
                <div class="how-details" data-aos="fade-up" data-aos-delay="100">
                    <div class="process-number">
                        <span class="number">06</span>
                        <span>|</span>
                    </div>

                    <div class="how-info">
                        <h4 class="title">Shop</h4>
                        <p class="description">Once coffees are warehoused in the destination market, you can make orders for both green or roasted which can be fullfilled quickly and delivered to your doorstep.</p>
                    </div>
                </div>

                <div class="how-image" data-aos="fade-up">
                    <img src="https://img.freepik.com/free-vector/people-carrying-bags-groceriesconcept-illustration_114360-13394.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="shopping">
                </div>
                
            </div>
        </div>
    </div>

    <div class="team-container">
        <div class="team-header" data-aos="fade-in">
            <h2>Meet our team</h2>
        </div>

        <div class="team-list">
            <div class="team-card ceo">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>John Doe</h2>
                        <p>CEO</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error, exercitationem ea necessitatibus repellendus consequatur laudantium, enim illum quibusdam quas ipsam, sit nostrum harum assumenda sequi consequuntur maxime quos iste in? Iste, ea. Dolor est consequatur quia enim.
                        Rerum laborum atque ad quam voluptate rem temporibus, saepe soluta ipsa libero aspernatur officia ducimus voluptas quod reiciendis quae, velit a dicta. Numquam animi natus voluptatibus, ipsam nulla neque. Magni.</p>
                    </div>
                </div>
            </div>

            <div class="team-card md">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>Jane Doe</h2>
                        <p>Managing Director</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error, exercitationem ea necessitatibus repellendus consequatur laudantium, enim illum quibusdam quas ipsam, sit nostrum harum assumenda sequi consequuntur maxime quos iste in? Iste, ea. Dolor est consequatur quia enim.
                        Rerum laborum atque ad quam voluptate rem temporibus, saepe soluta ipsa libero aspernatur officia ducimus voluptas quod reiciendis quae, velit a dicta. Numquam animi natus voluptatibus, ipsam nulla neque. Magni.</p>
                    </div>
                </div>
            </div>

            <div class="team-card tech">
                <div class="member-image">
                    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.826953802.1698382478&semt=sph" alt="a person">
                </div>

                <div class="member-details">
                    <div class="member-name">
                        <h2>John Doe</h2>
                        <p>Tech</p>
                    </div>

                    <div class="member-info">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim ad odit molestiae neque hic provident, alias quia magni eveniet nobis deserunt doloribus distinctio culpa ex sit aspernatur sapiente nesciunt! Nemo.
                        Voluptatibus error, exercitationem ea necessitatibus repellendus consequatur laudantium, enim illum quibusdam quas ipsam, sit nostrum harum assumenda sequi consequuntur maxime quos iste in? Iste, ea. Dolor est consequatur quia enim.
                        Rerum laborum atque ad quam voluptate rem temporibus, saepe soluta ipsa libero aspernatur officia ducimus voluptas quod reiciendis quae, velit a dicta. Numquam animi natus voluptatibus, ipsam nulla neque. Magni.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
