<app-navbar></app-navbar>

<section>
    <div class="about-header">
        <h2>About Us</h2>
    </div>

    <div class="our-story">
        <div class="story-header">
            <h2>How it started</h2>
        </div>

        <div class="story-content">
            <div class="story-image">
                <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg?auto=compress&cs=tinysrgb&w=600" alt="a typewriter">
            </div>
            
            <div class="story">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consequatur harum saepe earum dolorem? Blanditiis corrupti maxime, at consequatur animi quae, expedita iusto a doloribus porro necessitatibus! Magnam, cum dolor?
                Unde distinctio sint, atque cum qui, sed magnam culpa tempore veritatis vel eius! Nostrum aperiam porro saepe aut alias rerum deserunt, itaque sed ratione vitae doloremque suscipit, ab qui quae?
                Impedit saepe dolores laboriosam cupiditate ab quas, dolorem blanditiis aut, maxime esse rerum recusandae ratione pariatur corrupti omnis atque eaque minus dicta architecto mollitia ut sunt nulla. Maiores, adipisci architecto?</p>
            </div>
        </div>
    </div>

    <div class="our-mission">
        <div class="mission-content">
            <p>Get coffee hassle free, no middlemen. 100% traceable, 100% direct</p>
        </div>

        <div class="mission-image">
            <img src="https://images.pexels.com/photos/3646111/pexels-photo-3646111.jpeg?auto=compress&cs=tinysrgb&w=600" alt="coffee cup">
        </div>
    </div>

    <div class="whyus-container">
        <div class="whyus-header">
            <h2>Why choose us</h2>
        </div>

        <div class="whyus-content">
            <div class="why-card" data-aos="fade-up" data-aos-delay="100">
                <img src="https://cdn-icons-png.flaticon.com/128/584/584093.png?track=ais" alt="piggy bank icon">
                <h4>Save up to 15%</h4>
                <p>Everytime you buy direct from farmers, you save up to 15% with every purchase
                </p>
            </div>
        
            <div class="why-card" data-aos="fade-up" data-aos-delay="200">
                <img src="https://cdn-icons-png.flaticon.com/128/1885/1885613.png?track=ais" alt="fist pointing up icon">
                <h4>Empower and Enrich</h4>
                <p>Farmers get empowered to produce the best coffee when they get the highest
                    pay</p>
            </div>
        
            <div class="why-card" data-aos="fade-up" data-aos-delay="300">
                <img src="https://cdn-icons-png.flaticon.com/128/3131/3131333.png?track=ais" alt="holding hands">
                <h4>Direct impact</h4>
                <p>Directly touch the lives of families that work hard to produce amazing
                    coffees.</p>
            </div>
        
            <div class="why-card" data-aos="fade-up" data-aos-delay="400">
                <img src="https://cdn-icons-png.flaticon.com/128/2708/2708777.png?track=ais" alt="journal">
                <h4>Coffee with a story</h4>
                <p>Put a face to the coffee you buy by getting directly acquinted with farmers
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
