  :host ::ng-deep #header .navbar .dropdown ul a,
  :host ::ng-deep #header .navbar ul li i.fa-chevron-down {
    color: #000000;
  }
  
  :host ::ng-deep #header .navbar ul li i {
    color: #fff;
  }
  
  
  :host ::ng-deep #header .navbar .active,
  :host ::ng-deep #header .navbar-mobile .active {
    background-color: transparent;
  }
  
  :host ::ng-deep #header .navbar .about-link,
  :host ::ng-deep #header .navbar-mobile .about-link {
    background-color: rgb(165, 165, 165);
    color: #000000;
  }
  
  :host ::ng-deep #header.header-scrolled .navbar a,
  :host ::ng-deep #header.header-scrolled .navbar ul li i.fa-chevron-down,
  :host ::ng-deep #header.header-scrolled .navbar ul li i.fa-bag-shopping {
    color: #000000;
  }
  
  :host ::ng-deep #header.header-scrolled .navbar .active {
    background-color: transparent;
    color: #000000;
  }

  :host ::ng-deep #header .navbar .dropdown ul li:hover > a {
    color: #67b0d1;
  }

  /* .filter-container {
    border: 2px solid red;
  } */

  .filter-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .filter-container ul li {
    border: 2px solid #0000002e;
    cursor: pointer;
    padding: .5rem 1rem;
  }

  .expogallery-container {
    display: flex;
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto; */
    width: 87%;
    margin-inline: auto;
    /* border: 2px solid red; */
  }

  .expogallery-item,
  .expogallery-links,
  .expogallery-links a {
    height: 200px;
    width: 300px;
    /* border: 2px solid red; */
  }

  /* @media (max-width: 1460px) {
    .expogallery-item,
  .expogallery-links,
  .expogallery-links a {
    width: 290px;
  }
  } */

  .expogallery-links a {
    display: block;
  }

  .expogallery-links a img {
    height: 100%;
    width: 100%;
  }

  .gallery-lightbox img {
    object-fit: cover;
    object-position: center;
  }