<section class="cart-component">
  <app-navbar></app-navbar>

  <div class="cart-container">
    <ng-container *ngIf="product.length != 0">
      <div class="cart-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let item of product; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.productName}}</td>
                <td><img src={{item.imageUrl}} alt="item"></td>
                <td>Description 1</td>
                <td>${{item.newPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.total}}</td>
                <td>
                  <button class="btn btn-danger" title="delete"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
    
              <tr>
                <td colspan="4"></td>
                <td><button class="btn btn-danger">Empty Cart</button></td>
                <td><button class="btn btn-primary" routerLink="/Products">Shop More</button></td>
                <td><strong>Grand Total: $ {{grandTotal}}</strong></td>
                <td><button class="btn btn-success">Checkout</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="product.length == 0">
      <div class="cartempty-container">
        <div class="cart-image">
          <img src="../../assets/img/empty-cart.png" alt="cart">
        </div>
      
        <div class="cart-contents">
          <h4>mmmmhh... seems like your Cart is Empty!</h4>
          <h6>Add item(s) to it now</h6>
          <a routerLink="/Products">SHOP NOW&nbsp;<i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
      </div>
    </ng-container>
  </div>

    


  <app-footer></app-footer>
</section>