:host ::ng-deep #header {
  background-color: #f6f6f6;
}

:host ::ng-deep #header .navbar .active {
  background-color: transparent;
  color: #000000;
}


  /* CART STYLING */
  .cart-container {
    position: relative;
    top: 75px;
    margin-bottom: 100px;
  }

  .cart-table {
    padding: .5rem;
    /* height: 700px; */
    border: 2px solid red;
    width: 1000px;
    margin-inline: auto;
  }


  /* when cart is empty */
  .cartempty-container {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .cartempty-container > * {

    padding: .5rem;
  }

  .cartempty-container .cart-image {
    height: 300px;
  }

  .cartempty-container .cart-image img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }

  .cartempty-container .cart-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .cartempty-container .cart-contents a {
    background-color: #000000;
    color: #fff;
    padding: .3rem .5rem;
  }



td img {
    height: 200px;
    width: 230px;
    object-fit: cover;
    object-position: center;
  }