<section class="farminfo-container">
    <div class="farmers-content">
        <div class="farmer-card">
            <div class="farm-name">
                <h2>{{data.farmName}}</h2>
            </div>
    
            <div class="farm-info">
    
                <div class="farmer-images ndaroini-images">
                    <swiper-container slides-per-view=1 navigation="true" pagination="true" pagination-clickable="true" loop="true"
                        autoplay="true" autoplay-delay="3000" autoplay-pause-on-mouse-enter="true" autoplay-disable-on-interaction="false"
                        space-between="10" class="mobile">
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl1}} alt="farm">                    
                            </div>
                        </swiper-slide>
                    
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl2}} alt="farm">
                            </div>
                        </swiper-slide>
                    </swiper-container>
    
                 
                
                </div>
                
                <div class="farm-story">
                    <p>
                        <i class={{data.rating[0]}}></i>
                        <i class={{data.rating[1]}}></i>
                        <i class={{data.rating[2]}}></i>
                        <i class={{data.rating[3]}}></i>
                        <i class={{data.rating[4]}}></i>
                    </p>
                    <p>{{data.story}}</p>
                </div>
            </div>      
        </div>
    </div>
</section>



