<app-navbar></app-navbar>

<section class="expo-container">
    <div class="video-container">
        <video src="../../../assets/Video/expo2.mp4" autoplay loop playsinline muted [disablePictureInPicture]="true" preload="auto"></video>

        <div class="expo-content">
            <div class="expo-header">
                <h2>NYERI INTERNATIONAL COFFEE EXPO</h2>
            </div>
            
            <div class="expo-text">
                <p><i class="fa-regular fa-calendar"></i> &nbsp; November 9th - 10th</p>
                <p><i class="fa-solid fa-location-dot"></i> &nbsp; Dedan Kimathi University, Nyeri</p>
                <p><marquee behavior="" direction="">Early Bird Registration<strong> NOW OPEN</strong></marquee></p>                
            </div>

            <div class="register-btn">
                <a href="">REGISTER NOW</a>
            </div>
        </div>
    </div>
</section>


