<div class="verification-container">
    <h3>Verification</h3>
    <p>To confirm your account, please enter the verification code sent to {{data.email}} below.</p>

    <form (ngSubmit)="verifyCode()" ngNativeValidate>
        <div class="label-float">
            <input id="emailcode" name="emailcode" placeholder=" " [(ngModel)]="code" class="form-control"
                type="text" required pattern="\d{5}">
            <label for="emailcode">Code</label>
        </div>
        <button mat-raised-button type="submit">Verify</button>    
    </form>
</div>
