<div *ngIf="!is_producer && !is_warehouser" class="signup-container">
    <h3>Register as a Farmer</h3>

    <form (ngSubmit)="registerBuyer()" ngNativeValidate>
        <div class="signup-username input-card">
            <input id="username" name="username" [(ngModel)]="username" class="form-control"
                type="username" required>
            <label for="username" class="label-name">
                <span class="content-name">Full Name</span>
            </label>
        </div>

        <div class="signup-email input-card">
            <input id="email" name="email" [(ngModel)]="email" class="form-control"
                type="email" required>
            <label for="email" class="label-name">
                <span class="content-name">Email</span>
            </label>
        </div>

        <div class="signup-phone input-card">
            <input id="phone" name="phone" [(ngModel)]="phone" class="form-control"
                type="tel" required>
            <label for="phone" class="label-name">
                <span class="content-name">Phone Number</span>
            </label>
        </div>
        
        <div class="signup-password input-card">
            <input input id="password" name="password" [(ngModel)]="password"  class="form-control" type="{{ isPasswordVisible ? 'text' : 'password' }}" required appPasswordToggle>
            <label for="password" class="label-name">
                <span class="content-name">Password</span>
            </label>
        </div>

        <div class="signup-confirmpass input-card">
            <input input id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password"
                class="form-control" type="{{ isPasswordVisible ? 'text' : 'password' }}"
                required appPasswordToggle>
            <label for="confirm_password" class="label-name">
                <span class="content-name">Confirm Password</span>
            </label>
        </div>
        
        <password-strength-meter [password]="password"></password-strength-meter>
        
        <div class="signup-visibility input-card">
            <div>
                <input type="checkbox"(click)="togglePasswordVisibility()" id="myInput" title="visibility">
            </div>
            <div>
                <label for="myInput" class="show-pass">&nbsp;Show Password</label>
            </div>
        </div>
        
        <button mat-raised-button type="submit">Register</button>

        <div class="signup-extras">
            <p class="clo-lg-5 text-center py-2">Have an account?<br><a (click)="showLoginDialog()">Log In</a></p>
            <p>By continuing, you acknowledge you've read our <a mat-dialog-close routerLink="/terms and conditions">Privacy Policy</a> and agree to <a routerLink="/terms and conditions" mat-dialog-close>Our Terms of Service</a></p>
        </div>
        
    </form>
</div>
