<div *ngIf="!is_producer && !is_warehouser" class="signup-container">
    <!-- <h1><img src="../../assets/images/d90a1c41c1294e9ebd3e6cba576ae35f.png" alt=""></h1> -->
    <h2>Register As A Farmer</h2>
    <h4>Produce and Sell with us.</h4>

    <form (ngSubmit)="registerBuyer()">
        <div class="signup-username">
            <label for="username">Username</label>
            <input id="username" name="username" [(ngModel)]="username" placeholder="username" class="form-control form-control"
                type="username" required>
        </div>

        <div class="signup-email">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="email" [(ngModel)]="email" class="form-control form-control"
                type="email" required>
        </div>
        

        <div class="signup-password">
            <label for="password">Password</label>
            <input input id="password" name="password" [(ngModel)]="password" placeholder="enter your password"
                class="form-control" type="{{ isPasswordVisible ? 'text' : 'password' }}" required appPasswordToggle>
            <password-strength-meter [password]="password"></password-strength-meter>
        </div>

        <div class="signup-confirmpass">
            <label for="password">Confirm Password</label>
            <input input id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password"
                placeholder="Confirm password" class="form-control" type="{{ isPasswordVisible ? 'text' : 'password' }}"
                required appPasswordToggle>
        </div>

        <div class="signup-visibility">
            <div>
                <input type="checkbox"(click)="togglePasswordVisibility()" id="myInput" title="visibility">
            </div>
            <div>
                <span>Show Password</span>
            </div>
        </div>
        
        <button mat-raised-button type="submit">Register</button>

        <div class="signup-extras">
            <p>By continuing, you agree to Our Business Terms of Service; Opens a new tab and acknowledge you've read our Privacy Policy;</p>
        </div>
        
    </form>
</div>
