<app-navbar></app-navbar>

<section class="trip-container">
    <div class="video-container">
        <video src="../../../assets/Video/trip2.mp4" autoplay loop playsinline muted [disablePictureInPicture]="true" preload="auto"></video>

        <div class="trip-content">
            <div class="trip-header">
                <h2>Embark on a journey to the Coffee Cradle!</h2>
            </div>
            
            <div class="trip-text">
                <p><i class="fa-regular fa-calendar"></i> &nbsp; November 5th - 11th</p>
                <p><i class="fa-solid fa-location-dot"></i> &nbsp; Nyeri, Kenya</p>
                <!-- <p><marquee behavior="" direction="">Early Bird Registration<strong> NOW OPEN</strong></marquee></p>                 -->
            </div>

            <div class="register-btn">
                <a href="">BOOK MY SLOT NOW</a>
            </div>
        </div>
    </div>
</section>


