<app-navbar></app-navbar>

<section class="trip-container">
    <!-- HERO SECTION -->
    <div class="triphero-container">
        <!-- <video src="../../../assets/Video/trip2.mp4" autoplay loop playsinline muted [disablePictureInPicture]="true" preload="auto"></video> -->

        <div class="trip-content">
            <div class="trip-header">
                <h2>Embark on a journey to the Coffee Cradle!</h2>
            </div>
            
            <div class="trip-text">
                <p><i class="fa-regular fa-calendar"></i> &nbsp; November 5th - 11th</p>
                <p><i class="fa-solid fa-location-dot"></i> &nbsp; Nyeri, Kenya</p>
                <!-- <p><marquee behavior="" direction="">Early Bird Registration<strong> NOW OPEN</strong></marquee></p>                 -->
            </div>

            <div class="register-btn">
                <a href="">BOOKING CLOSED</a>
            </div>
        </div>
    </div>

    <!-- TRIP PURPOSE SECTION -->
    <div class="trip-purpose">
        <div class="purpose-header">
            <h2>Go direct to source</h2>
            <p>Connect directly with producers of the elusive Nyeri cup judged by coffee connoisseurs as one of the best in the world.</p>
        </div>

        <div class="purpose-list">
            <div class="purpose-card meetfarmer">
                <div class="purpose-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/6453/6453474.png?track=ais" alt="coffee farmer">
                </div>
                <div class="purpose-content">
                    <h2>Meet the farmers</h2>
                    <p>Put a face to the coffee you buy by connecting directly with amazing farmers</p>
                </div>
            </div>

            <div class="purpose-card process">
                <div class="purpose-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/3079/3079162.png?track=ais" alt="process gears">
                </div>
                <div class="purpose-content">
                    <h2>Learn the process</h2>
                    <p>Get your hands dirty as you learn how your coffee is grown and prepared</p>
                </div>
            </div>

            <div class="purpose-card taste">
                <div class="purpose-icon">
                    <img src="../../../assets/img/Trip/tasting.png" alt="coffee mug">
                </div>
                <div class="purpose-content">
                    <h2>Taste their coffees</h2>
                    <p>The Nyeri Orgin Trip is a cuppers paradise with countless samples to taste</p>
                </div>
            </div>

            <div class="purpose-card relations">
                <div class="purpose-icon">
                    <img src="../../../assets/img/Trip/partner.png" alt="people holding hands">
                </div>
                <div class="purpose-content">
                    <h2>Create direct relationships</h2>
                    <p>Remove the veil between you and farmers and build lasting direct relationships</p>
                </div>
            </div>
        </div>
    </div>

    <!-- EXPENSES SECTION -->
    <div class="expenses">
        <div class="expenses-header">
            <h2>Expenses Paid Trip</h2>
        </div>

        <div class="expenses-content">
            <div class="expenses-image">
                <img src="https://img.freepik.com/free-vector/tropical-vacation-air-travel-service-composition_98292-6990.jpg?size=626&ext=jpg&ga=GA1.1.47500303.1698056812&semt=sph" alt="travel bag">
            </div>

            <div class="expenses-info">
                <div class="covered">
                    <h2>Costs covered</h2>
                    <ul>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Arrival and departure airport transfers</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Seven days full board accommodation</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Eight days transport in custom-built safari tour vans</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Coffee tours (Farm tours, factory tours, mill tours)</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;NICE 2023 expo conference and exhibition attendance</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Cupping sessions for selected coffees from Nyeri's best producers</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Business to business sessions with producers of choice</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Game drive, safari walk & guided pre-departure shopping tour</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;English speaking professional guide/driver</li>
                    </ul>
                </div>
        
                <div class="not-covered">
                    <h2>Costs not covered</h2>
                    <ul>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;International Airfares</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Tourist entry Visa to Kenya</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Travel/Personal/Baggage Insurance (Recommended)</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;International airport departures taxes</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Optional excursions not mentioned</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Expenses of a personal nature e.g. internet, laundry etc.</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;All alcoholic drinks, wines and spirits.</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Tips and gratuities to driver guides/lodge/hotel staff</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <!-- FARMERS SECTION -->
    <div class="meet-farmers">
        <div class="meetfarmers-header">
            <h2>Meet the farmers</h2>
        </div>

        <div class="farmers-content">
            <div class="farmer-card ndaroini">
                <div class="farm-name">
                    <h2>Ndaroini Farmers Plc</h2>
                </div>

                <div class="farm-info">

                    <div class="farmer-images ndaroini-images">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../../assets/img/Trip/ndaro1.jpg" alt="farm">
                            </div>
                  
                            <div class="swiper-slide">
                                <img src="../../../assets/img/Trip/ndaro2.jpg" alt="farm">
                            </div>
                        </div>
                  
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    
                    <div class="farm-story">
                        <p>Ndaroini Farmers Plc is one of the most exceptional cooperatives in Kenya having won several excellence awards. The spirit of Ndaroini farmers is expressed by the quality of their coffee. A visit to Ndaroini will give you insights into Certification Systems, Traceability, Harvest, Primary processing and Post harvest management.</p>
                    </div>
                </div>      
            </div>

            <div class="farmer-card geralds">
                <div class="farm-name">
                    <h2>The Geralds</h2>
                </div>

                <div class="farm-info">
                    <div class="farmer-images">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/geralds1.jpg" alt="farm">
                            </div>
                  
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/geralds2.jpg" alt="farm">
                            </div>
                        </div>
                  
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    <div class="farm-story">
                        <p>The Geralds brothers' passion for coffee can not be told in words. You just have to see them at work on the farm and you'll get it. They inherited love for coffee from their late father Gerald. Traditionally most siblings divide inherited land. But the Geralds chose to stick together to farm coffee. This jovial family will help you learn what it takes to produce premium coffee for the specialty market. Meet them on the Nyeri Origin Trip.</p>
                    </div>
                </div>
            </div>

            <div class="farmer-card ragis">
                <div class="farm-name">
                    <h2>Ragis coffee estate</h2>
                </div>

                <div class="farm-info">
                    <div class="farmer-images">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/ragis1.jpg" alt="farm">
                            </div>
                  
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/ragis2.jpg" alt="farm">
                            </div>
                        </div>
                  
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    <div class="farm-story">
                        <p>The cup in Stephen's coffee keeps roasters coming to his farm for more. Ever learning, Stephen has constantly been improving the quality of his coffee over time through improved farm practices. He has managed to get his whole family hooked on coffee and now they all want to see the Ragis brand grow. He is part of a new breed of Kenyan farmers who are seeking to form direct relationships with roasters globally. Meet him on the Nyeri Origin Trip.</p>
                    </div>
                </div>
            </div>

            <div class="farmer-card jungle">
                <div class="farm-name">
                    <h2>Jungle coffee estate</h2>
                </div>

                <div class="farm-info">
                    <div class="farmer-images">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/jungle1.jpg" alt="farm">
                            </div>
                  
                            <div class="swiper-slide one">
                                <img src="../../../assets/img/Trip/jungle2.jpg" alt="farm">
                            </div>
                        </div>
                  
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    <div class="farm-story">
                        <p>Jungle coffee estate is one of the best estates in the heart of Nyeri. For Mr Kimondo the manager, being ever experimental and producing coffees to specific requirements of roasters has kept them on top. At Jungle you will find naturals which are rare in Nyeri. You will also get insights into Disease Management and Insect Control, Shade grown coffee, Drought Management, Irrigation and Pruning Practices.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- TRIP BONUS -->
    <div class="bonus-trip">
        <div class="bonus-content">
            <h2>Get a chance to see Kenya's wildlife</h2>
            <p>Few people know where the story of the late Queen Elizabeth II of England began as Queen. It began at the Aberdares National Park in Nyeri on 6th February 1952 when her father King George VI died. On that day the then Princess Elizabeth and her husband Prince Philip had visited the Treetops Lodge at the Aberdares National Park on holiday. During the Nyeri Origin Trip, you will visit the Aberdares National Park and enjoy true African wilderness.</p>
        </div>
    </div>

     <!-- CUPPING -->
     <div class="cupping-container">
        <div class="cupping-text">
            <p>Get a chance to cup all of Nyeri's finest coffees. Order and purchase the coffees you like directly from farmers during the trip.</p>
            <a href="">BOOK NOW</a>
        </div>
        
        <div class="cupping-image">
            <img src="../../../assets/img/Trip/cupping2.webp" alt="">
        </div>     
    </div>

    <!-- TIPS -->
    <div class="tips-container">
        <div class="tips-header">
            <h2>Tips to help you make the most of your trip.</h2>
        </div>
        
        <div class="tips-content">
            <div class="tips-card">
                <div class="card-header">
                    <h2>Customers first</h2>
                </div>
                <div class="card-text">
                    <p>gain valuable information and knowledge that will enrich the experience you give to your customers. Come ready to learn and keep your customers in mind throughout the trip.</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/1605/1605401.png?track=ais" alt="unity icon">
                </div>
            </div>
    
            <div class="tips-card">
                <div class="card-header">
                    <h2>Build relationships</h2>
                </div>
                <div class="card-text">
                    <p>form relationships with partners who can guarantee you a consistent high quality cup while empowering farmers in the process</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/8720/8720721.png?track=ais" alt="icon showing two people">
                </div>
            </div>
    
            <div class="tips-card">
                <div class="card-header">
                    <h2>Timing</h2>
                </div>
                <div class="card-text">
                    <p>The best time for an origin trip is harvest time, and that’s when the Nyeri origin trip happens (in November). It’s an extremely busy time with vast amount of work that will expose you to a very crucial part of the coffee chain that you would not want to pass.</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/2773/2773164.png?track=ais" alt="icon showing timer">
                </div>
            </div>
    
            <div class="tips-card">
                <div class="card-header">
                    <h2>Be ready for the grind</h2>
                </div>
                <div class="card-text">
                    <p>Coffee travel exposes you to bumpy roads, getting dirty cherry picking and meeting many people who don’t speak your language. But with a good adventurous spirit all the grind goes to making a most rewarding experience</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/3319/3319348.png?track=ais" alt="icon showing farm">
                </div>
            </div>
        </div>
        
    </div>

    <!-- checklist -->
    <div class="checklist-container">
        <div class="checklist-header">
            <h2>Ready now! Here are a few things to carry:</h2>
        </div>

        <div class="checklist-list">
            <ul>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Bug Repellent – to keep the little pests you encounter at bay</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Suitable Clothing – to protect you from elements of weather</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Medication and Health Products – to cushion your body from the shock of new foods, water and weather</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;A Good Camera – to back up your story</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Local currency – credit cards and ATMs don’t count on the farm</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Gifts – to show your appreciation and build friendship</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Altimeter – it’s fun tracking the elevation along your journey and learning how it changes the coffee</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Research – in addition to our information package, it’s good to do your research to strengthen your purpose</li>
            </ul>
        </div>
    </div>


    <!-- ITINERARY -->

    
</section>


<app-footer></app-footer>

