/* :host ::ng-deep #header {
  background-color: #f6f6f6;
} */

:host ::ng-deep #header .navbar .active,
:host ::ng-deep #header .navbar-mobile .active {
  background-color: transparent;
  color: #000000;
}

:host ::ng-deep #header .navbar .trip-link,
:host ::ng-deep #header .navbar-mobile .trip-link {
  background-color: rgb(216, 216, 216);
}


.trip-container {
  /* position: relative;
  top: 76px; */
  overflow: hidden;
}

/* .trip-container .video-container > * {
  border: 2px solid red;
} */

.trip-container .video-container {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: right;
  background-image: url("../../../assets/img/Trip/trip.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .trip-container .video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000001f;
  z-index: 1;
} */

.trip-container .trip-content {
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.trip-container .trip-content h2 {
  font-size: 3rem;
}

.trip-container .trip-content .trip-text {
  display: flex;
  gap: 1rem;
}

.trip-container .trip-content .trip-text p {
  font-size: 1.2rem;
}

.register-btn a {
  align-self: center;
  border: 2px solid black;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 50px;
  transition: all 0.6s ease-in-out;
  text-align: center;
  cursor: pointer;
  background-color: #779ec9;
  color: #000000;
}

