<div class="forgot-container">
    <h3>Recover your password</h3>
    <p>To recover your password, please enter the email that you used to register below. You will receive a password reset link.</p>

    <form (ngSubmit)="sendEmail()" ngNativeValidate>
        <div class="label-float">
            <input id="email" name="email" (ngModel)="email" placeholder=" " class="form-control"
                type="email" required>
            <label for="email">Email</label>
        </div>
        <button mat-raised-button type="submit">Send link</button>    
    </form>
</div>
