.navbar{
    background-color: white;
    padding: 15px;
    width: 100vw;
}
i{
    color: white;
    font-size: larger;
    padding: 10px;
}
img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 50px;
}
input{
    width: 30pc;
    margin-left: 10pc;
    margin-top: 5px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
li {
    padding-left: 10px;
    padding-right: 10px;
}
.bi{
    color: black;
}