.navbar{
    background-color: white;
    padding: 15px;
    width: 100vw;
}
i{
    color: white;
    font-size: larger;
    padding: 10px;
}
.navbar-brand img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    border-radius: 50px;
}
input{
    width: 30pc;
    margin-left: 10pc;
    margin-top: 5px;
    margin-right: 5px;
}
.d-flex button {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.d-flex button:hover {
    background-color: #a9e541;
    border: 1px solid #a9e541;
    color: black;
}
.d-flex input{
    background-color: transparent;
    border: 1px solid black;
}

.navbar-nav i{
    font-size: 18px;
}
a{
    color: black;
}
.bi{
    color: black;
}