
<header id="header" class="fixed-top header-black">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <!-- <h1 class="text-light"><a href="../../index.html"><span>NiceDirect&#174;</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#"><img src="../../../assets/img/coffee_logo2.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="/">Home</a></li>
        <li><a class="nav-link" href="#about">Shop Coffee</a></li>
        <li><a class="nav-link" href="#services">Expo</a></li>
        <!-- <li><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
        <!-- <li><a class="nav-link" href="#team">Team</a></li> -->
        <li class="dropdown"><a href="#"><span>Origin Trip</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <!-- <li><a href="#">Expo</a></li> -->
            <li class="dropdown"><a href="#"><span>Expo</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Register for Expo</a></li>
                <!-- <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li> -->
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Origin Trip</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Register for Origin Trip</a></li>
              </ul>
            </li>
            <!-- <li><a href="#">Origin Trip</a></li> -->
            <li><a href="#">Cupping</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/Coffee">Partners</a></li>
        <li><i class="bi bi-cart" value=8></i></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <div class="credentials-nonmobile">
      <ul class="navbar" *ngIf="!user">
            <li>
              <button mat-raised-button (click)="showLoginDialog()" type="button" class="btn btn-dark">Log In</button>
            </li>
            <li>
              <button mat-raised-button type="button" class="btn btn-outline-dark">Sign Up</button>
            </li>
          </ul>
          <ul *ngIf="user">
            <li>
              <div class="navbar">
                <ul>
                  <li class="dropdown"><a href="#"><span>{{user['username'] |titlecase}}</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a href="">Log out</a></li><br>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
    </div>
    <!-- .navbar -->

  </div>
</header>