<div class="orderdetails-container">
    <!-- ORDER INFO -->
    <div class="order-info order-card">
        <div class="order-content">
            <p>Order No: <span>ABC1234</span></p>
            <p>Quantity: <span>1</span></p>
            <p>Placed on: <span>07-01-2024</span></p>
            <p>Total: <span>$200</span></p>
        </div>
    </div>

    <!-- ORDER HISTORY STATUS -->
    <div class="order-status order-card">
        <h2>ORDER STATUS</h2>
    </div>

    <!-- DELIVERY INFO -->
    <div class="delivery-info order-card">
        <h2>DELIVERY INFORMATION</h2>

        <div class="delivery-method">
            <h3>Delivery Method</h3>
            <p>Door Delivery</p>
        </div>

        <div class="delivery-address">
            <h3>Shipping Address</h3>
            <p>John Doe</p>
            <p>123 Drive, Apartment 20</p>
            <p>New York, NY 10014, USA</p>
        </div>

        <div class="delivery-details">
            <h3>Shipping Details</h3>
            <p>Delivery scheduled on 10 December</p>   
        </div>
    </div>

    <!-- PAYMENT INFO -->
    <div class="payment-info order-card">
        <h2>PAYMENT INFORMATION</h2>

        <div class="payment-method">
            <h3>Payment Method</h3>
            <p>Paypal</p>
        </div>

        <div class="payment-details">
            <h3>Payment Details</h3>
            <p>Items total: <span>$16,400</span></p>
            <p>Delivery Fee: <span>$10</span></p>
            <p>Taxes: <span>$10</span></p>
            <p>Total: <span>$16420</span></p>
        </div>
    </div>
</div>