<section>
  
  <app-navbar></app-navbar>
  <app-productsnavbar></app-productsnavbar>


    <div class="products">
      <div class="sidebar">
        <div>
          <div class="widget-title"><h2>Coffee Variety</h2></div>
          <input type="hidden" id="previous_select">
          <ul>
            <li class="customRadio">
              <input type="checkbox" value="Variety1" id="Variety1"  />
              <label for="Variety1"><span><span></span></span>Variety 1</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="Variety2" id="Variety2"  />
              <label for="Variety2"><span><span></span></span>Variety 2</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="Variety2" id="Variety3"  />
              <label for="Variety3"><span><span></span></span>Variety 3</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="Variety2" id="Variety2"  />
              <label for="Variety2"><span><span></span></span>Variety 4</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="Variety2" id="Variety2"  />
              <label for="Variety2"><span><span></span></span>Variety 5</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="Variety2" id="Variety2"  />
              <label for="Variety2"><span><span></span></span>Variety 6</label>
            </li>
          </ul>
        </div>

        <div>
          <div class="widget-title"><h2>Coffee Farms</h2></div>
          <input type="hidden" id="previous_select">
          <ul>
            <li class="customRadio">
              <input type="checkbox" value="farm1" id="farm1"  />
              <label for="farm1"><span><span></span></span>Farm 1</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="farm2" id="farm2"  />
              <label for="farm2"><span><span></span></span>Farm 2</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="farm2" id="farm2"  />
              <label for="farm2"><span><span></span></span>Farm 3</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="farm2" id="farm2"  />
              <label for="farm2"><span><span></span></span>Farm 4</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="farm2" id="farm2"  />
              <label for="farm2"><span><span></span></span>Farm 5</label>
            </li>

            <li class="customRadio">
              <input type="checkbox" value="farm2" id="farm2"  />
              <label for="farm2"><span><span></span></span>Farm 6</label>
            </li>
          </ul>
        </div>

        <div>
          <div class="widget-title"><h2>Price</h2></div>
          <input type="hidden" id="previous_select">
          <ul>
          <li class="customRadio">
            <input type="checkbox" value="farm1" id="farm1"  />
            <label for="farm1"><span><span></span></span>Price 1 - Price 2</label>
          </li>

          <li class="customRadio">
            <input type="checkbox" value="farm2" id="farm2"  />
            <label for="farm2"><span><span></span></span>Price 3 - Price 4</label>
          </li>

          <li class="customRadio">
            <input type="checkbox" value="farm2" id="farm2"  />
            <label for="farm2"><span><span></span></span>Price 5 - Price 6</label>
          </li>
          </ul>
        </div>

      </div>

      <div class="productlist">

        <div class="productlist-content">
          <a routerLink="/Products/{{item.id}}" class="product-card"  *ngFor="let item of productData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" data-aos="fade-up">
            
            <div class="product-item">
              <div class="product-image">
                  <img src="{{item.imageUrl}}" alt="package">
              </div>

              <div class="product-name">
                <div class="name">
                  <p>Mettle</p>
                </div>
                  
                <div class="rating">
                  <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                </div>
              </div>

              <div class="farm-name">
                <p>Kiaragana Coffee Factory</p>
              </div>

              <div class="product-details">
                  <p>Origin: Kenya</p>
                  <p>$18.80 / 12oz</p>
              </div>

              <div class="latestadd-actions product-addactions">
                  <a role="button" id="myBtn">
                    Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
                  </a>
                  <a role="button" title="wishlist">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>

            </div>
          </a>
        </div>

        <div class="products-pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
                             
      </div>
    </div>

    <app-footer></app-footer>
</section>

