:host ::ng-deep #header {
  background-color: #f6f6f6;
}

:host ::ng-deep #header .navbar .active,
:host ::ng-deep #header .navbar-mobile .active {
  color: #000000;
  background-color: transparent;
}

:host ::ng-deep #header .navbar .shop,
:host ::ng-deep #header .navbar-mobile .shop {
  background-color: rgb(216, 216, 216);
}

:host ::ng-deep #header .navbar .cart-icon {
  display: none;
}

@media (max-width: 991px) {
  :host ::ng-deep #header .mobile-icons .mobile-cart {
    display: none;
  }
}

:host ::ng-deep #header.header-scrolled .navbar .active {
  background-color: transparent;
  color: #000000;
}

:host ::ng-deep footer {
  position: relative;
  /* top: 140px; */
}

@media (max-width: 600px) {
  :host ::ng-deep #header .mobile-icons .mobile-cart {
    display: contents;
  }

  :host ::ng-deep .products-navbar .cart-link {
    display: none;
  }

  :host ::ng-deep .products-navbar .navbar-input {
    width: 70%;
  }
}

@media (max-width: 375px) {
  :host ::ng-deep .products-navbar .navbar-input {
    width: 100%;
  }
}
