<app-navbar></app-navbar>

<section class="shop-component">
    <div class="products">
      <!-- sidebar -->
      <div class="sidebar">
        <app-productsnavbar (dataToParent)="handleDataFromChild($event)"></app-productsnavbar>
        
        <div class="profiletype">
          <div class="widget-title" (click)=toggleVarietyOn() >
            <h2>Coffee Profile&nbsp;
              <i *ngIf="!isShowVariety" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowVariety" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowVariety">
            <li class="customRadio">
              <input type="radio" value="Variety1" id="Variety1" name="variety"  />
              <label for="Variety1"><span><span></span></span>Bright acidity</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety2" name="variety"  />
              <label for="Variety2"><span><span></span></span>Lemon</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety3" name="variety"  />
              <label for="Variety3"><span><span></span></span>Blackcurrant</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety4" name="variety"  />
              <label for="Variety4"><span><span></span></span>Chocolatey</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety5" name="variety"  />
              <label for="Variety5"><span><span></span></span>Raspberry</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety6" name="variety"  />
              <label for="Variety6"><span><span></span></span>Fruity</label>
            </li>
          </ul>
        </div>

        <div class="coffeeorigin">
          <div class="widget-title" (click)=toggleFarmsOn()>
            <h2>Coffee Origin&nbsp;
              <i *ngIf="!isShowFarms" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowFarms" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowFarms">
            <li class="customRadio">
              <input type="radio" value="farm1" id="farm1"  name="farm" />
              <label for="farm1"><span><span></span></span>Kiambu</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm2" name="farm" />
              <label for="farm2"><span><span></span></span>Nyeri</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm3" name="farm" />
              <label for="farm3"><span><span></span></span>Kirinyaga</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm4" name="farm"  />
              <label for="farm4"><span><span></span></span>Meru</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm5" name="farm" />
              <label for="farm5"><span><span></span></span>Murang'a</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm6" name="farm"  />
              <label for="farm6"><span><span></span></span>Rift Valley</label>
            </li>
          </ul>
        </div>

        <div class="specialproducts">
          <div class="widget-title"(click)=togglePriceOn()>
            <h2>Special Products&nbsp;
              <i *ngIf="!isShowPrice" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowPrice" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowPrice">
            <li class="customRadio">
              <input type="radio" value="farm1" id="price1" name="price"/>
              <label for="price1"><span><span></span></span>Pods</label>
            </li>

          <li class="customRadio">
            <input type="radio" value="farm1" id="price2" name="price" />
            <label for="price2" ><span><span></span></span>Decaf</label>
          </li>

          <li class="customRadio">
            <input type="radio" value="farm2" id="price3" name="price" />
            <label for="price3"><span><span></span></span>Cold brew</label>
          </li>
          </ul>
        </div>

      </div>

      <!-- products grid list -->
      <div class="productlist">

        <div *ngIf="filteredProducts == null" class="productlist-content">
          <!-- paginate: { itemsPerPage: itemsPerPage, currentPage: p } -->
          <div class="product-card"  *ngFor="let item of products  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" data-aos="fade-up">

            
            <a (click)="navigateToChild(item)" class="product-item">
              <div class="product-image">
                <img src="{{cloudinaryUrl}}{{item.img}}" alt="package">
              </div>
          
              <div class="product-name">
                <div class="name">
                  <p>{{item.product.name}}</p>
                </div>
          
                <div class="rating">
                  <p *ngIf=" averageRating(item) == 5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 1">
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 0">
          
                  </p>
                </div>
              </div>
          
              <div class="farm-name">
                <p>Producer: Kiaragana Coffee Factory</p>
              </div>
          
              <div class="product-details">
                <p>Origin: {{item.product.origin | titlecase}}</p>
                <p>{{item.price | currency:'USD'}} / 12oz</p>
              </div>
          
            </a>
          
            <div class="latestadd-actions product-addactions">
              <a role="button" (click)="showAddtocartDialog('500ms', '500ms')">
                Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
              </a>
              <a role="button" title="wishlist">
                <i class="fa-solid fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div *ngIf="filteredProducts != null" class="productlist-content">
          <!-- paginate: { itemsPerPage: itemsPerPage, currentPage: p } -->
          <div class="product-card"  *ngFor="let item of filteredProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" data-aos="fade-up">

            
            <a routerLink="/shop/{{item.product.name}}/{{item.id}}" class="product-item">
              <div class="product-image">
                  <img src="{{cloudinaryUrl}}{{item.img}}" alt="package">
              </div>

              <div class="product-name">
                <div class="name">
                  <p>{{item.product.name}}</p>
                </div>
                  
                <div class="rating">
                  <p *ngIf=" averageRating(item) == 5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 1">
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 0">
                    
                  </p>
                </div>
              </div>

              <div class="farm-name">
                <p>Kiaragana Coffee Factory</p>
              </div>

              <div class="product-details">
                  <p>Origin: {{item.product.origin | titlecase}}</p>
              </div>

            </a>

            <div class="latestadd-actions product-addactions">
              <a role="button" (click)="showAddtocartDialog('500ms', '500ms')">
                Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
              </a>
              <a role="button" title="wishlist">
                  <i class="fa-solid fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="products-pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
                             
      </div>
    </div>

    <app-footer></app-footer>
</section>