
    <app-coffee-navbar></app-coffee-navbar>
    <div class="body-container">
        <div class="top-choices">
            <div class="row g-0 justify-content-center">
                <div class="col lg-8">
                    <div class = "products">
                        <div class = "container">
                            <div class = "product-items">
                                <!-- single product -->
                                <div *ngFor="let product of products" class = "product">
                                    <div class = "product-content" style="background-image: url(../../assets/images/pexels-jessica-lewis-creative-606545.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
                                        <div class = "product-img">
                                        </div>
                                        <div class = "product-btns">
                                            <button type = "button" class = "btn-cart"> add to cart
                                                <span><i class = "fas fa-plus"></i></span>
                                            </button>
                                            <button type = "button" class = "btn-buy"> buy now
                                                <span><i class = "fas fa-shopping-cart"></i></span>
                                            </button>
                                        </div>
                                    </div>
            
                                    <div class = "product-info">
                                        <div class = "product-info-top">
                                            <p class = "product-producer sm-title">produced by: {{product.producer.username | titlecase}}</p>
                                            <div class = "rating">
                                                <span><i class = "fas fa-star"></i></span>
                                                <span><i class = "fas fa-star"></i></span>
                                                <span><i class = "fas fa-star"></i></span>
                                                <span><i class = "fas fa-star"></i></span>
                                                <span><i class = "far fa-star"></i></span>
                                            </div>
                                        </div>
                                        <a href = "#" class = "product-name">{{product.name}}, new product</a>
                                        <p class = "product-price">{{product.quantity}} oz</p>
                                        <p style="font-weight: bold;" class = "product-price">$ 133.00</p>
                                    </div>
            
                                    <div class = "off-info">
                                        <h2 class = "sm-title">25% off</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
