<app-navbar></app-navbar>

<section class="attribution-component">
    <div class="attribution-hero">
        <h2>Media Attribution</h2>
    </div>

    <div class="attribution-content">
        <div class="attribution-read">
            <p>We value intellectual property rights and believe in giving credit where it's due. In our work and content, we strive
                to provide accurate attributions to the original sources of information, images, or other creative works used. We
                make every effort to respect copyright laws and permissions.
                <br>
                If we have inadvertently missed attributions or if you believe that your work has been improperly attributed or used
                without appropriate permission, please contact us promptly. We will rectify any oversight or issue as soon as
                possible. Our goal is to uphold ethical standards and maintain a respectful and collaborative approach to content
                creation.
                <br>
                We encourage our users and partners to also uphold the principles of proper attribution when using our services or
                engaging with our content. By acknowledging and crediting the original creators, we contribute to fostering a
                culture of fairness, respect, and collaboration within the creative community.
                <br>
                Please note that while we strive to ensure accurate attributions, mistakes or oversights may occur unintentionally.
                We appreciate your understanding and cooperation in bringing any concerns to our attention, as we are committed to
                addressing them promptly and appropriately.
            </p>
            <br>
            <br>
            <p>Thank you for your support and for helping us maintain a respectful and responsible approach to intellectual property and attributions. <br>In no particular order of appearance:</p>
            <br><br><br>
        </div>

        <div class="attribution-list">
            <ul>
                <li>Photo by Andreea Ch: https://www.pexels.com/photo/green-potted-plant-on-white-ceramic-vase-1166644/</li>
                <li>Image by <a
                        href="https://www.freepik.com/free-vector/flat-wine-tasting-landing-page-template_33808621.htm">Freepik</a>
                </li>
                <li>Photo by <a
                        href="https://unsplash.com/@justinflane?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Justin
                        Lane</a> on <a
                        href="https://unsplash.com/photos/giraffe-walking-towards-green-tree-fzsJesR92jE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </li>
                <li>Photo by Antony Trivet:
                    https://www.pexels.com/photo/multicolored-air-balloon-floating-against-amazing-sunset-6056771/</li>
                <li><a
                        href="https://www.freepik.com/icon/coffee-cup_987624#fromView=search&term=coffee+&page=1&position=10&track=ais">Icon
                        by Freepik</a></li>
                <li>https://cdn-icons-png.flaticon.com/128/10144/10144733.png?track=ais</li>
                <li><a
                        href="https://www.freepik.com/icon/handshake_9490297#fromView=search&term=partnership&page=1&position=28&track=ais">Icon
                        by juicy_fish</a></li>
                <li>Image by <a
                        href="https://www.freepik.com/free-vector/coffee-bistro-landing-page-template_13445109.htm#from_view=detail_serie">Freepik</a>
                </li>
                <li><a
                        href="https://www.freepik.com/icon/startup_8298993#fromView=search&term=rocket+plane&page=1&position=23&track=ais">Icon
                        by Mehwish</a></li>
                <li><a
                        href="https://www.freepik.com/icon/plane_6674090#fromView=search&term=paper+plane&page=1&position=6&track=ais">Icon
                        by Freepik</a></li>
                <li><a href="https://www.freepik.com/icon/air-balloon_1358720#fromView=resource_detail&position=11">Icon by
                        Pause08</a></li>
                <li>Video by Taryn Elliott:
                    https://www.pexels.com/video/a-view-of-hot-air-balloons-in-the-air-and-woman-riding-her-vehicle-3015510/</li>
                <li><a
                        href="https://www.freepik.com/free-vector/page-found-with-people-connecting-plug-concept-illustration_7967788.htm#page=2&query=404%20error&position=0&from_view=search&track=ais">Image
                        by storyset</a> on Freepik</li>
                <li><a href="https://iconscout.com/illustrations/empty-cart" rel="noopener noreferrer"
                        class="text-underline font-size-sm" target="_blank">Empty cart</a> by <a
                        href="https://iconscout.com/contributors/iconscout" rel="noopener" class="text-underline font-size-sm"
                        target="_blank">IconScout Store</a></li>
                <li><a
                        href="https://www.freepik.com/free-ai-image/top-view-delicious-coffee-beans-arrangement_59582835.htm#query=coffee%20beans%20pink%20background&position=0&from_view=search&track=ais">Image
                        By freepik</a></li>
                <li>Image by <a
                        href="https://www.freepik.com/free-photo/shopping-cart-miniature_3981265.htm#query=shopping%20cart&position=20&from_view=search&track=ais">Freepik</a>
                </li>
                <li>Image by <a
                        href="https://www.freepik.com/free-vector/adventure-social-media-post-template_16678371.htm#query=backpacking%20background&position=45&from_view=search&track=ais">Freepik</a>
                </li>
                <li>Image by <a href="https://www.freepik.com/free-psd/start-your-life-with-coffee-landing-page_10014663.htm#query=coffee%20landing%20page&position=27&from_view=search&track=ais&uuid=a903d30e-7895-4e5b-8078-2fa3999f1abb">Freepik</a></li>
                <li>Image by <a href="https://www.freepik.com/free-psd/flat-design-restaurant-menu-template_22891640.htm#query=iced%20coffee%20with%20beans&position=4&from_view=keyword&track=ais&uuid=c4f94c27-8cdb-4722-b85b-b537643cf49a">Freepik</a></li>
                <li>Photo by cottonbro studio: https://www.pexels.com/photo/coffee-raw-indoors-background-4820663/</li>
                <li>Photo by Luke Barky: https://www.pexels.com/photo/photo-of-coffee-machine-2899719/</li>
                <li><a href="https://www.freepik.com/free-vector/product-quality-concept-illustration_18407468.htm#query=quality&position=27&from_view=search&track=sph&uuid=6b80105a-b8c5-4eb2-84b5-aa0c3a26c2d8">Image by storyset</a> on Freepik</li>
                <li>Image by <a href="https://www.freepik.com/free-vector/hand-giving-money-bag-other-hand_785842.htm#page=2&query=handing%20over%20money&position=21&from_view=search&track=ais&uuid=85befcde-d021-4e6d-a40a-e29498fba71d">Freepik</a></li>
                <li><a href="https://www.freepik.com/free-vector/black-people-holding-megaphone-concept-illustration_63060928.htm#query=person%20talking%20through%20a%20speaker&position=21&from_view=search&track=ais&uuid=13b04f0f-93fa-4dc5-b064-213d348f11e4">Image by storyset</a> on Freepik</li>
                <li><a href="https://www.freepik.com/free-vector/national-transport-abstract-concept-illustration_12291334.htm#query=logistics&position=25&from_view=search&track=sph&uuid=8039c3de-8abb-481c-89a8-dc6e727ad925">Image by vectorjuice</a> on Freepik</li>
                <li><a href="https://www.freepik.com/free-vector/business-people-standing-document_4530226.htm#query=business%20transparency&position=25&from_view=search&track=ais&uuid=3da96c7c-2e81-459a-b35f-e098e0b57efb">Image by katemangostar</a> on Freepik</li>
                <li><a href="https://www.freepik.com/free-vector/order-ahead-concept-illustration_18407479.htm#page=2&query=online%20shopping&position=35&from_view=search&track=ais&uuid=a67b5059-ef01-4883-b7ca-4b1dd7a84e8b">Image by storyset</a> on Freepik</li>
                <li>Image by <a href="https://www.freepik.com/free-vector/faq-concept_4456168.htm">Freepik</a></li>
                <li>Photo by Karolina Grabowska: https://www.pexels.com/photo/person-using-a-macbook-and-holding-a-credit-card-4968391/</li>
                <li>Image by <a href="https://www.freepik.com/free-vector/hand-drawn-money-bag_1134728.htm#query=money%20sack&position=15&from_view=search&track=ais&uuid=109e1307-f1fd-42d7-ad38-05ffc91a347f">Freepik</a></li>
                <a href="https://www.freepik.com/icon/voltmeter_7884379">Icon by madness</a>
                <a href="https://www.freepik.com/icon/search_3685327">Icon by rsetiawan</a>
                <a href="https://www.freepik.com/icon/gift_3754932">Icon by Freepik</a>
                <a href="https://www.freepik.com/icon/money_5534228#fromView=search&term=currency&track=ais&page=1&position=34&uuid=8c5a8f66-0c1c-455c-8710-1e32539d1ea7">Icon by Iconpro86</a>
                <a href="https://www.freepik.com/icon/camera_1788949#fromView=search&term=camera&track=ais&page=1&position=54&uuid=150c854a-9787-48f6-9f0a-56eb65896e6c">Icon by Freepik</a>
                <a href="https://www.freepik.com/icon/brand_7417708#fromView=search&term=clothing&track=ais&page=1&position=25&uuid=43a86b91-2060-403e-973f-3b64c6687f6f">Icon by Wichai.wi</a>
                <a href="https://www.freepik.com/icon/syringe_2968946#fromView=search&term=medication&track=ais&page=1&position=40&uuid=7e3019d1-2007-4e42-9fc4-fef7797f377b">Icon by max.icons</a>
                <a href="https://www.freepik.com/icon/bug-spray_2621970#fromView=search&term=bug+repellent&track=ais&page=1&position=3&uuid=203c8f42-d6ff-49d3-96cc-5ec6a4473150">Icon by Flat Icons</a>
                Image by <a href="https://www.freepik.com/free-vector/hand-drawn-farm-landscape_4473720.htm#page=3&query=farm%20background&position=31&from_view=search&track=ais&uuid=4d7c8508-40c2-4a52-846d-8dd29b9a23af">Freepik</a>
                <a href="https://www.freepik.com/icon/shopping-bag_6821765#fromView=search&term=buy&track=ais&page=1&position=13&uuid=05d2299b-0c8b-47f0-bd94-b1a181cc23e4">Icon by Mayor Icons</a>
                <a href="https://www.freepik.com/icon/hot-drink_6353688#fromView=search&term=hot+mug&track=ais&page=1&position=20&uuid=02d30024-743e-44c2-bdb7-7cf716c08333">Icon by muhammad atho'</a>
                <a href="https://www.freepik.com/icon/my-location_6601180#fromView=search&term=visit&track=ais&page=1&position=55&uuid=558769af-cc0e-44bd-8afe-dd805bdc3456">Icon by smashingstocks</a>
                Image by <a href="https://www.freepik.com/free-vector/coffee-plantation-hand-drawn-flat-landing-page_26230186.htm#page=3&query=coffee%20cup%20and%20packaging%20landing%20page&position=4&from_view=search&track=ais&uuid=e7819d73-30ea-4671-8c62-6f89d422dea4">Freepik</a>
            </ul>
        </div>
    </div>
</section>

<app-footer></app-footer>
