.dashheader-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    height: 5rem;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc47;
}

.bi-bell-fill::after {
    content:attr(value);
    font-size:12px;
    color: #000000;
    background-color: #eedd82;
    border-radius:50%;
    padding: 2px 8px;
    position:relative;
    left: -5px;
    top:-10px;
    opacity:0.9;
    font-style: normal;
    font-weight: bold;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #0d6efd36;
  }

.dashheader-container > * {
    /* border: 2px solid red; */
    padding: .5rem;
}

.dashheader-container .nav-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
}

.dashheader-container .nav-header .logo div {
    height: 50px;
    width: 50px;
}

.dashheader-container .nav-header .logo div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.dashheader-container .notifs-dropdown {
    background-color: #fff;
}

.dashheader-container .multiple-notifications {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashheader-container .notifs,
.dashheader-container .nav-links .dropdown .user-link  {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.fa-chevron-down {
    color: #000000;
    font-size: 1rem;
}

.dashheader-container .nav-links {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 16px;
}

.nav-links li a {
    font-size: 16px;
}

.nav-links .dropdown ul {
    padding-top: 0.5rem;
}

.nav-links li:hover > a {
    background-color: rgb(91 87 87 / 11%);
}

.nav-links .dropdown-links li:hover > a {
    background-color: transparent;
}

.dashheader-container .nav-links .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    width: 100%;
}

.nav-links .dropdown ul a {
    padding: 10px 0px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
}

.dropdown-links img {
    height: 18px;
    width: 18px;
    object-position: center;
    object-fit: cover;
}

@media (max-width: 375px) {
    .nav-links .nav-items li {
        padding: 0rem;
    }

    .dashheader-container .nav-links .dropdown .user-link {
        font-size: .8rem;
    }

    .dashheader-container .nav-links {
        gap: 0;
    }

    .dashheader-container > * {
        padding: .1rem;
    }

    .dashheader-container .nav-links li a.user-link {
        padding: 0px;
    }

    .nav-links .dropdown ul a {
        font-size: .8rem;
        margin-left: 2px;
    }

    .dropdown-links img {
        height: 13px;
        width: 13px;
    }
}