<div class="container">
    <h3 class="clo-lg-5 text-center">Manifest For {{data.object.name}}</h3>
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Select a Warehouser</mat-label>
        <mat-select #countrySelect>
          <mat-select-trigger>{{countrySelect.value}}</mat-select-trigger>
          <mat-option *ngFor="let warehouser of warehouserFilter" [value]="warehouser.username">
            <div class="country-container">
              <span>{{warehouser.username}}</span>
            </div>
          </mat-option>
    
        </mat-select>
      </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="quantity" formControlName="quantity" required>
        </mat-form-field>
    </form>
    <br>
    <button (click)="postManifest()" mat-button>Submit</button>
</div>