.myaccount-container {
    /* background-color: black; */
    /* height: 100vh; */
    /* border: 2px solid blue; */
    font-family: 'Raleway', sans-serif;
    width: 100%;
    /* padding-inline: 1rem; */

    display: flex;
    flex-direction: column;
    /* gap: .5rem; */

    position: relative;
}
.myaccount-header {
    background-color: #7bc4b2;
    padding: 2rem;
}
.myaccount-header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.myaccount-content {
    display: flex;
    gap: 8rem;
    padding-inline: 1rem;

    position: absolute;
    top: 5rem;
}
.c-card {
    /* border: 2px solid red; */
    box-shadow: 5px 10px #dfdcdc;;
    background-color: #ffffff;
}
.c-card span {
    font-weight: bold;
}

.myaccount-content > * {
    /* border: 2px solid rgba(0, 0, 0, 0.541); */
    border-radius: .3rem;
    padding: .5rem;
    flex-basis: 100%;
}
.myaccount-content h1 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.575);
}

@media (max-width: 768px) {
    .myaccount-content {
        /* border: 2px solid blue; */
        flex-wrap: wrap;
    }
}