<div class="changes">
    <h2 mat-dialog-title>Edit farm details</h2>

    <mat-dialog-content>
        <div class="changes">
            <form class="form" id="form" action="" method="POST">
                <!-- HONEYPOT(to catch spammers )  -->
                <input type="text" name="_honey" class="honeypot" title="honeypot">

                <div class="form-controls name" *ngIf="data.id == 1">
                    <label for="county" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Nyeri" id="county" name="county" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 2">
                    <label for="estate" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Abcd Coffee Estate" id="estate" name="estate" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 3">
                    <label for="owner" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Mkulima Murimi" id="owner" name="owner" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 4">
                    <label for="acreage" class="block">{{data.value}}:</label><br>
                    <input type="number" placeholder="1" id="acreage" name="acreage" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 5">
                    <label for="trees" class="block">{{data.value}}:</label><br>
                    <input type="number" placeholder="2800" id="trees" name="trees" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 6">
                    <label for="altitude" class="block">{{data.value}}:</label><br>
                    <input type="number" placeholder="1864" id="altitude" name="altitude" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 7">
                    <label for="season" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="May-December" id="season" name="season" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 8">
                    <label for="rainfall" class="block">{{data.value}}:</label><br>
                    <input type="number" placeholder="900mm" id="rainfall" name="rainfall" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 9">
                    <label for="temperature" class="block">{{data.value}}:</label><br>
                    <input type="number" placeholder="13-24" id="temperature" name="temperature" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 10">
                    <label for="variety" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="SL28" id="variety" name="variety" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 11">
                    <label for="farming" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Organic" id="farming" name="farming" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 12">
                    <label for="cherry" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="" id="cherry" name="cherry" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 13">
                    <label for="soil" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Deep red volcanic soils" id="soil" name="soil" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 14">
                    <label for="processing" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Anaerobic natural..." id="processing" name="processing" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 15">
                    <label for="drying" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="Sun dried" id="drying" name="drying" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 16">
                    <label for="cupping" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="" id="cupping" name="cupping" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 17">
                    <label for="availability" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="January-April..." id="availability" name="availability" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 18">
                    <label for="history" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="" id="history" name="history" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 19">
                    <label for="location" class="block">{{data.value}}:</label><br>
                    <input type="text" placeholder="" id="location" name="location" required>
                </div>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-dialog-close class="cancel">Cancel</button>
        <button type="submit" mat-dialog-close>Save Changes</button>
    </mat-dialog-actions>
</div>

